@import "variables";
@import "bootstrap_overrides";
@import "~bootstrap/scss/functions";

$top-bar-height: 56px;
$left-bar-width: 250px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $top-bar-height;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  color: $black;
  display: flex;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1), 1px 1px 5px 1px rgba(0, 0, 0, 0.1);

  .logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: $top-bar-height / 2;
    }
  }

  .button-container {
    flex-shrink: 0;
    width: $top-bar-height;

    button {
      width: $top-bar-height;
      height: $top-bar-height;
    }
  }
}

.menu-separator {
  width: 100%;
  height: 1px;
  background-color: $separator;
}

.flag {
  width: 24px;
  margin-right: 16px;
}

.top-bar-margin {
  margin-top: $top-bar-height;
  flex-shrink: 0;
}

.left-bar-container {
  width: $left-bar-width;
  flex-shrink: 0;

  .left-bar-internal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;

    nav {
      width: $left-bar-width;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 15px;
      background: $nav-bg;

      .header {
        display: flex;
        align-items: center;
        height: $header-height + 5px;
        border-bottom: 1px solid $white-separator;

        img {
          width: 170px;
        }
      }

      .menu-container {
        flex: 1;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        ::ng-deep app-button {
          width: 100%;

          ::ng-deep button {
            width: 100%;
            text-align: left;
            margin-bottom: 6px;
          }
        }

        .upper-actions {
          .button-group {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.content {
  padding: 20px !important;
  overflow: hidden;
}

.transparent {
  opacity: 0.5;
}
