<!-- Top bar shown on small screens. -->
<div class="top-bar d-lg-none">
  <div class="button-container"></div>
  <div class="logo-container">
    <img src="/assets/img/logo-s.png" />
  </div>
  <div class="button-container">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="transparent-button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Top bar menu. -->
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <!-- Upper area. -->
      <ng-container *ngIf="sidenavService.upperContents">
        <ng-container *ngFor="let content of sidenavService.upperContents">
          <div mat-menu-item (click)="requestAction(content.actionName)" [disabled]="content.disabled">
            <mat-icon [ngClass]="{'transparent': content.disabled}">{{ content.icon }}</mat-icon> {{ content.name | translate }}
          </div>
        </ng-container>
      </ng-container>
      <div *ngIf="sidenavService.upperContents && sidenavService.lowerContents" class="menu-separator"></div>
      <!-- Lower area. -->
      <ng-container *ngIf="sidenavService.lowerContents">
        <ng-container *ngFor="let content of sidenavService.lowerContents">
          <div mat-menu-item (click)="requestAction(content.actionName)" [disabled]="content.disabled">
            <mat-icon [ngClass]="{'transparent': content.disabled}">{{ content.icon }}</mat-icon> {{ content.name | translate }}
          </div>
        </ng-container>
      </ng-container>
      <div *ngIf="!hideLanguageButton && (sidenavService.upperContents || sidenavService.lowerContents)" class="menu-separator"></div>
      <!-- Language area. -->
      <div *ngIf="!hideLanguageButton" mat-menu-item (click)="openLanguageWindow()">
        <img *ngIf="language" [src]="'assets/img/lang/' + language.iconName" class="flag"> {{ (language ? language.name : '') | translate }}
      </div>
    </mat-menu>
  </div>
</div>

<!-- Margin to prevent the top bar from covering the content. -->
<div class="top-bar-margin d-lg-none"></div>

<div class="h-100 d-flex">
  
  <!-- Left options bar shown on big screens. -->
  <div class="left-bar-container d-none d-lg-block">
    <div class="left-bar-internal-container">
      <nav class="elevated-box">
        <div class="header">
          <img src="/assets/img/logo-h.png" />
        </div>

        <div class="menu-container">
          <!-- Upper area. -->
          <div class="upper-actions">
            <div class="button-group">
              <ng-container *ngIf="sidenavService.upperContents">
                <ng-container *ngFor="let content of sidenavService.upperContents">
                  <app-menu-button
                    (action)="requestAction(content.actionName)"
                    [icon]="content.icon"
                    [disabled]="content.disabled"
                    [text]="content.name"
                  ></app-menu-button>
                </ng-container>
              </ng-container>
            </div>
          </div>
          
          <!-- Lower area. -->
          <div>
            <ng-container *ngIf="sidenavService.lowerContents">
              <ng-container *ngFor="let content of sidenavService.lowerContents">
                <app-menu-button
                  (action)="requestAction(content.actionName)"
                  [icon]="content.icon"
                  [disabled]="content.disabled"
                  [text]="content.name"
                  [showUpperSeparator]="true"
                ></app-menu-button>
              </ng-container>
            </ng-container>
          </div>
        </div>

      </nav>
    </div>
  </div>

  <!-- Content. -->
  <div class="content container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
