<app-dialog [headline]="'node.logs.title' | translate" [includeVerticalMargins]="false" [includeScrollableArea]="false" [dialog]="dialogRef">
  <!-- Filter button. -->
  @if (!loading && logEntries && logEntries.length > 0) {
    <div class="top-dialog-button" (click)="showFilters()">
      <div class="top-dialog-button-content">
        <div>
          <span>{{ 'node.logs.selected-filter' | translate }} </span>
          <span class="actual-value">{{ ('node.logs.' + levelDetails.get(currentMinimumLevel).levelFilterName) | translate }}</span>
        </div>
        @if (logEntries.length > filteredLogEntries.length) {
          <div class="small">
            {{ 'node.logs.filter-ignored' | translate:{number: logEntries.length - filteredLogEntries.length} }}
          </div>
        }
      </div>
      <div class="top-dialog-button-margin"></div>
    </div>
  }

  <mat-dialog-content #content>
    <!-- Link for opening all the logs, if there are too much for the modal window. -->
    @if (!loading && hasMoreLogMessages) {
      <div class="log-entry">
        <a [href]="getFullLogsUrl()" target="_blank" class="view-raw-link">
          {{ 'node.logs.view-rest' | translate:{number: totalLogs} }}
        </a>
      </div>
    }

    <!-- All entries. -->
    @if (!loading) {
      @for (entry of filteredLogEntries; track entry) {
        <div class="log-entry">
          <!-- Basic fields. -->
          <span class="transparent">
            {{ entry.time }}
          </span>
          <span [class]="levelDetails.get(entry.level).colorClass">
            {{ levelDetails.get(entry.level).name }}
          </span>
          [
          <span class="transparent">
            {{ entry.func }}
          </span>
          <span class="module-color">
            {{ entry._module }}
          </span>
          ]@if (entry.msg) {
          :
        }
        @if (entry.msg) {
          <span>
            {{ entry.msg }}
          </span>
        }
        <!-- Extra fields. -->
        @for (extra of entry.extra; track extra) {
          <span class="extra-data-color">
            {{ extra.name }}
          </span>
          <span>
            ="{{ extra.value }}"
          </span>
        }
      </div>
    }
  }

  <!-- Link for opening all the logs. -->
  @if (!loading && logEntries && logEntries.length > 0) {
    <div class="log-entry">
      <a [href]="getFullLogsUrl()" target="_blank" class="view-raw-link">
        @if (!hasMoreLogMessages) {
          {{ 'node.logs.view-all' | translate }}
        }
        @if (hasMoreLogMessages) {
          {{ 'node.logs.view-rest' | translate:{number: totalLogs} }}
        }
      </a>
    </div>
  }

  <!-- Msg if there are no logs. -->
  @if (!loading && (!logEntries || logEntries.length === 0)) {
    <div class="log-empty-msg">
      {{ 'node.logs.no-logs' | translate }}
    </div>
  }
  <!-- Msg if there are no logs with the current filter. -->
  @if (!loading && logEntries && logEntries.length > 0 && filteredLogEntries.length < 1) {
    <div class="log-empty-msg">
      {{ 'node.logs.no-logs-for-filter' | translate }}
    </div>
  }
  <!-- Loading animation. -->
  @if (loading) {
    <app-loading-indicator [showWhite]="false"></app-loading-indicator>
  }

  <!-- Update button. -->
  <div class="update-button subtle-transparent-button" (click)="loadData(0)">
    @if (!loading) {
      <div class="update-time">
        @if (!showAlert) {
          <mat-icon class="icon" [inline]="true">refresh</mat-icon>
        }
        <span>{{ ('refresh-button.' + elapsedTime.translationVarName) | translate:{time: elapsedTime.elapsedTime} }}</span>
      </div>
    }
  </div>
</mat-dialog-content>
</app-dialog>

