<app-dialog [headline]="'tables.title' | translate" [includeVerticalMargins]="false">
  <div class="options-list-button-container" *ngFor="let column of data; let i = index">
    <ng-container *ngFor="let reverse of [false, true]">
      <button
        mat-button
        class="grey-button-background"
        (click)="closePopup(column, reverse)"
        >
        <div class="internal-container">
          <span>{{ column | translate }}</span>
          {{ (!reverse ? 'tables.ascending-order' : 'tables.descending-order') | translate }}
        </div>
      </button>
    </ng-container>
  </div>
</app-dialog>
