@import 'variables';

.button-container {
  margin: 0 (-$mat-dialog-padding);

  button {
    width: 100%;

    .internal-container {
      text-align: left;
      padding: 5px 7px;

      mat-icon {
        margin-right: 10px;
        position: relative;
        top: 2px;
        opacity: 0.5;
      }
    }
  }
}
