.wrapper {
  display: inline;
  touch-action: initial !important;
  user-select: initial !important;
  -webkit-user-drag: auto !important;
  -webkit-tap-highlight-color: initial !important;

  mat-icon {
    opacity: 0.5;
    font-size: 10px;
    user-select: none;
  }

  &:hover {
    mat-icon {
      opacity: 0.8;
    }
  }
}
