<div class="wrapper highlight-internal-icon"
  [clipboard]="text"
  (copyEvent)="onCopyToClipboardClicked()"
  [matTooltip]="(!short && !shortSimple ? 'copy.tooltip' : 'copy.tooltip-with-text') | translate:{ text: text }"
  [matTooltipClass]="{ 'tooltip-word-break': true }"
>
  <ng-container *ngIf="!shortSimple">
    <app-truncated-text [short]="short" [showTooltip]="false" [shortTextLength]="shortTextLength" [text]="text"></app-truncated-text>
    &nbsp;<mat-icon [inline]="true">filter_none</mat-icon>
  </ng-container>
  <div *ngIf="shortSimple" class="d-flex">
    <div class="single-line">{{text}}</div>
    &nbsp;<mat-icon [inline]="true">filter_none</mat-icon>
  </div>
</div>
