@import "variables";

.mat-mdc-dialog-content {
  font-size: $font-size-sm;
}

.app-log-message {
  margin-top: 15px;
  word-break: break-word;

  .transparent {
    color: $lighter-gray;
  }
}

.app-log-message:first-of-type {
  margin-top: 0px;
}

.app-log-message:last-of-type {
  margin-bottom: $mat-dialog-padding;
}

.top-dialog-button {
  color: $light-gray !important;

  .top-dialog-button-content {
    text-align: center;

    .actual-value {
      color: $black;
    }
  }
}

.full-logs-button {
  ::ng-deep button {
    width: 100% !important;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .text-container {
    width: 100%;
  }
}
