<app-dialog [headline]="('vpn.server-options.edit-value.' + (data.editName ? 'name' : 'note' ) + '-title') | translate" [dialog]="dialogRef">
  <form [formGroup]="form">
    <!-- Value field. -->
    <mat-form-field>
      <div class="field-container">
        <label class="field-label" for="remoteKey">{{ ('vpn.server-options.edit-value.' + (data.editName ? 'name' : 'note' ) + '-label') | translate }}</label>
        <input
          formControlName="value"
          maxlength="100"
          #firstInput
          matInput
        >
      </div>
    </mat-form-field>
  </form>

  <!-- Button. -->
  <app-button
    (action)="process()"
    color="primary"
    class="float-right"
  >
    {{ 'vpn.server-options.edit-value.apply-button' | translate }}
  </app-button>
</app-dialog>
