<app-dialog [headline]="'transports.create' | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  <app-loading-indicator [showWhite]="false" *ngIf="!types"></app-loading-indicator>
  <form [formGroup]="form" *ngIf="types">
    <mat-form-field [ngClass]="{'element-disabled' : disableDismiss}">
      <input
        formControlName="remoteKey"
        maxlength="66"
        [placeholder]="'transports.dialog.remote-key' | translate"
        #firstInput
        matInput
      >
      <mat-error>
        <ng-container *ngIf="!this.form.get('remoteKey').hasError('pattern');else hexError">
          {{ 'transports.dialog.errors.remote-key-length-error' | translate }}
        </ng-container>
      </mat-error>
      <ng-template #hexError>
        {{ 'transports.dialog.errors.remote-key-chars-error' | translate }}
      </ng-template>
    </mat-form-field>

    <mat-form-field  [ngClass]="{'element-disabled' : disableDismiss}">
      <input
        formControlName="label"
        maxlength="66"
        [placeholder]="'transports.dialog.label' | translate"
        matInput
      >
    </mat-form-field>

    <mat-form-field  [ngClass]="{'element-disabled' : disableDismiss}">
      <mat-select
        formControlName="type"
        [placeholder]="'transports.dialog.transport-type' | translate"
      >
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error>
        {{ 'transports.dialog.errors.transport-type-error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-checkbox
      color="primary"
      [checked]="makePersistent"
      (change)="setMakePersistent($event)"
      [ngClass]="{'element-disabled' : disableDismiss}"
    >
      {{ 'transports.dialog.make-persistent' | translate }}
      <mat-icon [inline]="true" class="help-icon" [matTooltip]="'transports.dialog.persistent-tooltip' | translate">help</mat-icon>
    </mat-checkbox>
  </form>

  <app-button
    #button
    (action)="create()"
    [disabled]="!form.valid"
    color="primary"
    class="float-right"
  >
    {{ 'transports.create' | translate }}
  </app-button>
</app-dialog>
