version: "{build}"

stack: node 16.8.0

environment:
  matrix:
  # For regular jobs, such as push, pr and etc.
  - job_name: Linux
    appveyor_build_worker_image: ubuntu1804
    GOARCH: amd64
  - job_name: MacOS
    appveyor_build_worker_image: macos
    GOARCH: amd64
  # - job_name: Windows
  #   appveyor_build_worker_image: Visual Studio 2019
  #   GOARCH: amd64 
  
  # For release, by pushing tag
  - job_name: linux-amd64
    appveyor_build_worker_image: ubuntu1804
    GOARCH: amd64
  - job_name: linux-arm
    appveyor_build_worker_image: ubuntu1804
    GOARCH: arm
  - job_name: linux-arm64
    appveyor_build_worker_image: ubuntu1804
    GOARCH: arm64
  - job_name: linux-386
    appveyor_build_worker_image: ubuntu1804
    GOARCH: 386
  - job_name: darwin-amd64
    appveyor_build_worker_image: macos
    GOARCH: amd64
  # - job_name: windows-amd64
  #   appveyor_build_worker_image: Visual Studio 2019
  #   GOARCH: amd64
  
for:
  - # Linux and MacOS
    skip_tags: true
    matrix:
      only:
        - job_name: Linux
        - job_name: MacOS

    install:
      - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.42.1
      - make dep
      - sh: ci_scripts/create-ip-aliases.sh
      - make install-deps-ui
    
    before_build:
      - make check
      - make lint-ui
   
    build_script:
      - make build
      - make build-ui

  - # Windows
    skip_tags: true
    matrix:
      only:
        - job_name: Windows

    environment:
      matrix:
        - GOARCH: amd64

    install:
      - choco install make
      - go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.42.0
      - make dep
      - make install-deps-ui
    
    before_build:
      - set GO111MODULE=on
      - make check-windows-appveyor
      - make lint-ui
  
    build_script:
      - make build
      - make build-ui

  - # Linux and MacOS (Release)
    skip_non_tags: true
    matrix:
      only:
        - job_name: linux-arm
        - job_name: linux-arm64
        - job_name: linux-amd64
        - job_name: linux-386
        - job_name: darwin-amd64

    install:
      - make dep
      - ci_scripts/create-ip-aliases.sh
      - export GOARM=7
    
    build_script:
      - make build

    after_build:
      - tar -cvzf skywire-$APPVEYOR_REPO_TAG_NAME-$APPVEYOR_JOB_NAME.tar.gz ./apps/* ./skywire-visor ./skywire-cli ./setup-node

    artifacts:
      - path: skywire-$(APPVEYOR_REPO_TAG_NAME)-$(APPVEYOR_JOB_NAME).tar.gz
        name: deploy

    deploy:
      - provider: GitHub
        release: $(APPVEYOR_REPO_TAG_NAME)
        auth_token:
          secure: ZrbNBE2wSfGvHzEq5GqEAUmNy7myDIl7KK05CKlZdQfieV7XdIAPXpkdHNEyZbvT
        draft: true
        artifact: deploy
        on:
          APPVEYOR_REPO_TAG: true
          
  - # Windows (Release)
    skip_non_tags: true
    matrix:
      only:
        - job_name: windows-amd64

    environment:
      matrix:
        - GOARCH: amd64

    install:
      - cmd: choco install make
      - make dep
  
    build_script:
      - make build

    after_build:
      - sh: tar -cvzf skywire-$APPVEYOR_REPO_TAG_NAME-$APPVEYOR_JOB_NAME.tar.gz ./apps/* ./skywire-visor ./skywire-cli ./setup-node

    artifacts:
      - path: skywire-$(APPVEYOR_REPO_TAG_NAME)-$(APPVEYOR_JOB_NAME).tar.gz
        name: deploy
        
    deploy:
      - provider: GitHub
        release: $(APPVEYOR_REPO_TAG_NAME)
        auth_token:
          secure: ZrbNBE2wSfGvHzEq5GqEAUmNy7myDIl7KK05CKlZdQfieV7XdIAPXpkdHNEyZbvT
        draft: true
        artifact: deploy
        on:
          APPVEYOR_REPO_TAG: true
