*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
*.pem

.idea/

/skywire.json
/apps/
/skywire/
/local*
/transport_logs
/dmsgpty

pkg/visor/apps/
pkg/visor/bar/
pkg/visor/foo/

/bin
/node
/users.db
/hypervisor
/*-node
/*-visor
/*-cli
/*-server
/*.json
/*.sh
/*.log

# Ignore backup go.mod after running '/ci_scripts/go_mod_replace.sh'.
go.mod-e

# goreleaser and frontend builds
*.deb
/sysroot
static/skywire-manager-src/dist/*
/visor
/dist-linux
/dist