*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
*.pem

.idea/

/skywire.json
/apps/
/skywire/
/local*

pkg/visor/apps/
pkg/visor/bar/
pkg/visor/foo/

/bin
/node
/users.db
/hypervisor
/*-node
/*-visor
/*-cli
/*-server
/*.json
/*.sh
/*.log

# Ignore backup go.mod after running '/ci_scripts/go_mod_replace.sh'.
go.mod-e

# goreleaser and frontend builds
dist

# release
*.deb

# android
cmd/skywirevisormobile/android/app/build/outputs/apk/debug/app-debug.apk
cmd/skywirevisormobile/android/app/skywire.aar
cmd/skywirevisormobile/android/app/skywire-sources.jar
cmd/skywirevisormobile/android/app/.idea
cmd/skywirevisormobile/android/app/build
cmd/skywirevisormobile/android/.gradle
