*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
*.pem

.idea/
.vscode/

./skywire.json
./build/
build/
./apps/
./skywire/
./local/*
./local*/*
./transport_logs
./dmsgpty
./rewards
./rewards/
rewards
./pkg/visor/apps/
./pkg/visor/bar/
./pkg/visor/foo/

./bin
./node
./users.db
./hypervisor
./*-node
./*-visor
./*-cli
./*-server
./*.json
!/dmsghttp-config.json
!/services-config.json
./*.sh
./*.log

# Ignore backup go.mod after running '/ci_scripts/go_mod_replace.sh'.
go.mod-e

# goreleaser and frontend builds
*.deb
./packages
./deb
./sysroot
./static/skywire-manager-src/dist/*
./visor
./dist-linux
./dist
./Char
./scripts/mac_installer/IconsSkycoin.tar.gz
./scripts/mac_installer/icon_128x128.png
./scripts/mac_installer/icon_128x128@2x.png
./mac_build
./skywire-installer*.pkg
*.dmg
./scripts/mac_installer/icon.iconset/
./releaseChangelog.md
./skywire.msi
/scripts/win_installer/build/
goreleaser*
gh*
./musl-data
./releaseChangelog.md
./goreleaser.zip
./goreleaser

# Fix dirty error on release
releaseChangelog.md
musl-data
