language: go
go:
  # - "1.14.x" At minimum the code should run make check on the latest two go versions in the default linux environment provided by Travis.
  - "1.14.x"
  
dist: xenial

matrix:
  include:
    - os: linux
    - os: osx
      # Do not start osx build for PR
      if: type != pull_request
      osx_image: xcode8.3

before_install:
  - nvm install 10.16

install:
  - go get -u github.com/FiloSottile/vendorcheck
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $GOPATH/bin v1.27.0
  - make tidy

before_script:
  - ci_scripts/create-ip-aliases.sh

script:
#  - make lint TODO(evanlinjin): Temporary due to https://github.com/golangci/golangci-lint/issues/827
  - make test
  - make test-no-ci
  - make install-deps-ui
  - make lint-ui
  - make build-ui

