@import 'variables';

mat-form-field {
  width: 100%;
}

:host::ng-deep
{
  .discovery-address-input-container
  {
    display: flex;
    flex: 1;
  }
}

p {
  font-size: 14px;
  line-height: 18px;
  color: $light-gray;
  margin-bottom: 0;
}
