<app-dialog [headline]="'Node configuration'">
  <div class="startup-form">
    <mat-list>
      <mat-list-item>
        <span>Act as an exit node</span>
        <mat-slide-toggle [checked]="true"></mat-slide-toggle>
      </mat-list-item>
    </mat-list>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur deserunt ex in inventore laboriosam minus odio porro, quae quidem sed sint, suscipit ullam! Accusantium assumenda molestias nemo nesciunt veritatis!</p>
  </div>
</app-dialog>
