@use "sass:color";
@use "sass:map";
@use 'variables';
@use "bootstrap_overrides";
@use 'utilities/utilities';
@use 'text';

:host {
  color: variables.$black;
}

.header {
  margin-top: -(variables.$mat-dialog-padding);
  margin-left: -(variables.$mat-dialog-padding);
  margin-right: -(variables.$mat-dialog-padding);
  margin-bottom: 0;
  color: variables.$blue-medium;
  padding: 0px (variables.$mat-dialog-padding - 10) 0px variables.$mat-dialog-padding;
  font-size: variables.$font-size-base;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;

  span {
    @extend .single-line;
    flex-grow: 1;
  }

  @media (max-width: (map.get(bootstrap_overrides.$grid-breakpoints, md) - 1)) {
    & {
      padding: 0px 2px 0px variables.$mat-dialog-padding;
    }
  }

  span {
    @extend .reactivate-mouse;
    line-height: variables.$font-size-base;
    margin: 18px 0;
  }

  .mat-mdc-icon-button {
    @extend .cursor-pointer;
    color: color.adjust(variables.$white, $lightness: -30%);
    width: 32px;
    height: 32px;
    line-height: 20px;
    margin-left: 10px;
    padding: 0;

    @media (max-width: (map.get(bootstrap_overrides.$grid-breakpoints, md) - 1)) {
      & {
        width: 46px;
        height: 46px;
      }
    }
  }
}

.header-separator {
  height: 1px;
  background-color: variables.$modal-separator;
  margin-left: -12px;
  margin-right: -12px;
}

.content-margin {
  padding-top: 18px;
  padding-bottom: variables.$mat-dialog-padding !important;
}
