<div class="apps-subnav">
  <button mat-button class="sub-btn" [class.active]="sub === 'list'" (click)="sub = 'list'">
    <mat-icon [inline]="true">apps</mat-icon>
    {{ 'apps.tabs.list' | translate }}
  </button>
  <button mat-button class="sub-btn" [class.active]="sub === 'chat'" (click)="sub = 'chat'">
    <mat-icon [inline]="true">forum</mat-icon>
    {{ 'apps.tabs.chat' | translate }}
  </button>
  <button mat-button class="sub-btn" [class.active]="sub === 'vpn'" (click)="sub = 'vpn'">
    <mat-icon [inline]="true">vpn_lock</mat-icon>
    {{ 'apps.tabs.vpn' | translate }}
  </button>
  <button mat-button class="sub-btn" [class.active]="sub === 'skysocks'" (click)="sub = 'skysocks'">
    <mat-icon [inline]="true">cloud_download</mat-icon>
    {{ 'apps.tabs.skysocks' | translate }}
  </button>
</div>

@if (sub === 'list') {
  <app-node-app-list
    [showOfficialApps]="true"
    [apps]="apps"
    [showShortList]="false"
    [nodePK]="nodePK"
    [nodeIp]="nodeIp">
  </app-node-app-list>
  <app-node-app-list
    [showOfficialApps]="false"
    [apps]="apps"
    [showShortList]="false"
    [nodePK]="nodePK"
    [nodeIp]="nodeIp">
  </app-node-app-list>
}

@if (sub === 'chat') {
  <app-skychat></app-skychat>
}

@if (sub === 'vpn') {
  <app-vpn></app-vpn>
}

@if (sub === 'skysocks') {
  <app-skysocks-tab></app-skysocks-tab>
}
