<div [ngClass]="{ 'rounded-elevated-box': !forInitialConfig }"><div class="box-internal-container overflow">
  <div [class]="(!forInitialConfig ? 'white-' : '') + 'form-help-icon-container'">
    <mat-icon class="help-icon" [inline]="true" [matTooltip]="(forInitialConfig ? 'settings.password.initial-config-help' : 'settings.password.help') | translate">
      help
    </mat-icon>
  </div>
  <form [formGroup]="form">
    <mat-form-field *ngIf="!forInitialConfig" class="white-form-field" [ngClass]="{'element-disabled' : working}">
      <div class="field-container">
        <label class="field-label" for="remoteKey">{{ 'settings.password.old-password' | translate }}</label>
        <input
          type="password"
          formControlName="oldPassword"
          maxlength="64"
          matInput
        >
      </div>
      <mat-error>
        <span>{{ 'settings.password.errors.old-password-required' | translate }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'white-form-field': !forInitialConfig, 'element-disabled' : working}">
      <div class="field-container">
        <label class="field-label" for="remoteKey">{{ (forInitialConfig ? 'settings.password.initial-config.password' : 'settings.password.new-password') | translate }}</label>
        <input
          type="password"
          formControlName="newPassword"
          maxlength="64"
          matInput
          #firstInput
        >
      </div>
      <mat-error>
        <span>{{ 'settings.password.errors.new-password-error' | translate }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'white-form-field': !forInitialConfig, 'element-disabled' : working}">
      <div class="field-container">
        <label class="field-label" for="remoteKey">{{ (forInitialConfig ? 'settings.password.initial-config.repeat-password' : 'settings.password.repeat-password') | translate }}</label>
        <input
          type="password"
          formControlName="newPasswordConfirmation"
          maxlength="64"
          matInput
        >
      </div>
      <mat-error>
        <span>{{ 'settings.password.errors.passwords-not-match' | translate }}</span>
      </mat-error>
    </mat-form-field>

    <app-button
      [ngClass]="{ 'mt-2 app-button': !forInitialConfig, 'float-right': forInitialConfig }"
      color="primary"
      [disabled]="!form.valid"
      (action)="changePassword()"
      [forDarkBackground]="!forInitialConfig"
      #button
    >
      {{ (forInitialConfig ? 'settings.password.initial-config.set-password': 'settings.change-password') | translate }}
    </app-button>
  </form>
</div></div>
