<div [ngClass]="{ 'rounded-elevated-box': !forInitialConfig }"><div class="box-internal-container overflow">
  <div [class]="(!forInitialConfig ? 'white-' : '') + 'form-help-icon-container'">
    <mat-icon [inline]="true" [matTooltip]="(forInitialConfig ? 'settings.password.initial-config-help' : 'settings.password.help') | translate">
      help
    </mat-icon>
  </div>
  <form [formGroup]="form">
    <mat-form-field *ngIf="!forInitialConfig" class="white-form-field" [ngClass]="{'element-disabled' : working}">
      <input
        type="password"
        formControlName="oldPassword"
        [placeholder]="'settings.password.old-password' | translate"
        maxlength="64"
        matInput
      >
      <mat-error>
        {{ 'settings.password.errors.old-password-required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'white-form-field': !forInitialConfig, 'element-disabled' : working}">
      <input
        type="password"
        formControlName="newPassword"
        [placeholder]="(forInitialConfig ? 'settings.password.initial-config.password' : 'settings.password.new-password') | translate"
        maxlength="64"
        matInput
        #firstInput
      >
      <mat-error>
        {{ 'settings.password.errors.new-password-error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="{'white-form-field': !forInitialConfig, 'element-disabled' : working}">
      <input
        type="password"
        formControlName="newPasswordConfirmation"
        [placeholder]="(forInitialConfig ? 'settings.password.initial-config.repeat-password' : 'settings.password.repeat-password') | translate"
        maxlength="64"
        matInput
      >
      <mat-error>
        {{ 'settings.password.errors.passwords-not-match' | translate }}
      </mat-error>
    </mat-form-field>

    <app-button
      [ngClass]="{ 'mt-2 app-button': !forInitialConfig, 'float-right': forInitialConfig }"
      color="primary"
      [disabled]="!form.valid"
      (action)="changePassword()"
      [forDarkBackground]="!forInitialConfig"
      #button
    >
      {{ (forInitialConfig ? 'settings.password.initial-config.set-password': 'settings.change-password') | translate }}
    </app-button>
  </form>
</div></div>
