<div class="container-elevated-white">
  <form class="settings-form" [formGroup]="form">
    <mat-form-field>
      <input
        type="password"
        formControlName="oldPassword"
        [placeholder]="'settings.password.old-password' | translate"
        maxlength="64"
        matInput>
      <mat-error>
        {{ 'settings.password.errors.old-password-required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        formControlName="newPassword"
        [placeholder]="'settings.password.new-password' | translate"
        maxlength="64"
        matInput>
      <mat-error>
        {{ 'settings.password.errors.new-password-error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        formControlName="newPasswordConfirmation"
        [placeholder]="'settings.password.repeat-password' | translate"
        maxlength="64"
        matInput>
      <mat-error>
        {{ 'settings.password.errors.passwords-not-match' | translate }}
      </mat-error>
    </mat-form-field>

    <app-button
      class="m-0 mt-2"
      color="primary"
      type="mat-raised-button"
      [disabled]="!form.valid"
      (action)="changePassword()"
    >
      {{ 'settings.change-password' | translate }}
    </app-button>
  </form>
</div>
