@import "~@angular/material/theming";
@import "assets/scss/variables";

$general-typography: mat-typography-config(
  $font-family: $skywire-font-family
);

@include mat-core($general-typography);

$mat-skywire-primary: (
  100: $blue-medium,
  500: $blue-medium,
  contrast: (
    100: $white,
    500: $white,
  )
);

$mat-skywire-accent: (
  500: #a7a7a7,
  contrast: (
    500: $white
  )
);

$skywire-primary: mat-palette($mat-skywire-primary, 500, 100, 500);
$skywire-accent: mat-palette($mat-skywire-accent, 500, 500, 500);

$skywire-theme: mat-light-theme($skywire-primary, $skywire-accent);

@include angular-material-theme($skywire-theme);

.main-theme {
  @include angular-material-theme($skywire-theme);
}

$mat-white-primary: (
  100: white,
  500: white,
  contrast: (
    100: white,
    500: white,
  )
);

$white-primary: mat-palette($mat-white-primary);
$white-theme: mat-light-theme($white-primary, $skywire-accent);

.white-theme {
  @include angular-material-theme($white-theme);
}
