@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "assets/scss/variables";

// Skywire UI theme typographies.
$custom-body-1-level-typography: mat.define-typography-level(
  $font-weight: 400,
  $font-size: $font-size-sm,
  $line-height: 1,
  $letter-spacing: normal,
);
$custom-buttom-level-typography: mat.define-typography-level(
  $font-family: $skywire-font-family,
  $font-size: $font-size-sm,
  $letter-spacing: normal,
);
$general-typography: mat.define-typography-config(
  $font-family: $skywire-font-family,
  $body-1: $custom-body-1-level-typography,
  $subtitle-1: $custom-body-1-level-typography,
  $button: $custom-buttom-level-typography,
);
/*
$general-typography: mat.define-typography-config(
  $font-family: $skywire-font-family
);
*/
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($general-typography);`
@include mat.all-component-typographies($general-typography);
@include mat.core();

$mat-skywire-primary: (
  100: $blue-medium,
  500: $blue-medium,
  contrast: (
    100: $white,
    500: $white,
  )
);

$mat-skywire-accent: (
  500: #a7a7a7,
  contrast: (
    500: $white
  )
);

$skywire-primary: mat.define-palette($mat-skywire-primary, 500, 100, 500);
$skywire-accent: mat.define-palette($mat-skywire-accent, 500, 500, 500);

$skywire-theme: mat.define-light-theme((
  color: (
    primary: $skywire-primary,
    accent: $skywire-accent,
  ),
));

@include mat.all-component-themes($skywire-theme);

$mat-white-primary: (
  100: white,
  500: white,
  700: white,
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);

$white-primary: mat.define-palette($mat-white-primary);

$white-theme: mat.define-light-theme((
  color: (
    primary: $white-primary,
    accent: $skywire-accent,
  ),
));

.white-theme {
  @include mat.all-component-colors($white-theme);
}
