@import "variables";
@import "bootstrap_overrides";

mat-form-field {
  margin-right: 32px;
}

.buttons-area {
  display: flex;

  @media (max-width: (map-get($grid-breakpoints, md) -  1)) {
    & {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .text-area {
    margin-right: auto;
    flex-grow: 1;

    @media (max-width: (map-get($grid-breakpoints, md) -  1)) {
      & {
        margin-right: 32px !important;
      }
    }

    mat-icon {
      position: relative;
      top: 1px;
    }
  }

  app-button {
    float: right;
    margin-right: 32px;
    flex-grow: 0;

    @media (max-width: (map-get($grid-breakpoints, md) -  1)) {
      & {
        margin-top: 10px;
      }
    }
  }

  .left-button {
    margin-right: 5px !important;

    @media (max-width: (map-get($grid-breakpoints, md) -  1)) {
      & {
        margin-right: 32px !important;
      }
    }
  }
}
