app-dialog {
  word-break: break-all;
  font-size: 13px;
}

.title {
  border-bottom: #dbdbdb 1px solid;
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 30px;
}

.no-top-margin {
  margin-top: 0px;
}

.item {
  margin-top: 5px;
}

.item-title {
  color: #999;
}
