<!-- Header. -->
<div class="generic-title-container mt-4.5 d-flex" [ngClass]="{'paginator-icons-fixer': !showShortList_ && numberOfPages > 1 && dataSource}">
  <div class="title">
    <span *ngIf="showShortList_" class="uppercase">
      {{ 'transports.title' | translate }}
      <mat-icon [inline]="true" class="help d-none d-md-inline" [matTooltip]="'transports.info' | translate">help</mat-icon>
    </span>
    <div class="filter-label subtle-transparent-button cursor-pointer" (click)="dataFilterer.removeFilters()" *ngIf="dataFilterer.currentFiltersTexts && dataFilterer.currentFiltersTexts.length > 0">
      <div *ngFor="let filterTexts of dataFilterer.currentFiltersTexts" class="item">
        <span>{{ filterTexts.filterName | translate }}: </span>
        <ng-container *ngIf="filterTexts.translatableValue">{{ filterTexts.translatableValue | translate }}</ng-container>
        <ng-container *ngIf="filterTexts.value">{{ filterTexts.value }}</ng-container>
      </div>
      <div class="transparent-50">{{ 'filters.press-to-remove' | translate }}</div>
    </div>
  </div>
  <div class="options">
    <div class="options-container">
      <mat-icon
        [inline]="true"
        (click)="create()"
      >add</mat-icon>
      <mat-icon
        [inline]="true"
        (click)="dataFilterer.changeFilters()"
        class="small-icon"
        *ngIf="allTransports && allTransports.length > 0"
      >filter_list</mat-icon>
      <mat-icon
        [inline]="true"
        [matMenuTriggerFor]="selectionMenu"
        *ngIf="dataSource && dataSource.length > 0"
      >more_horiz</mat-icon>
      <mat-menu #selectionMenu="matMenu" [overlapTrigger]="false">
        <div mat-menu-item (click)="changeAllSelections(true)">
          {{ 'selection.select-all' | translate }}
        </div>
        <div mat-menu-item (click)="changeAllSelections(false)">
          {{ 'selection.unselect-all' | translate }}
        </div>
        <div mat-menu-item disabled="{{ !hasSelectedElements() }}" (click)="deleteSelected()">
          {{ 'selection.delete-all' | translate }}
        </div>
      </mat-menu>
    </div>
    <!-- Upper paginator. -->
    <app-paginator
      *ngIf="!showShortList_ && numberOfPages > 1 && dataSource"
      [currentPage]="currentPage"
      [numberOfPages]="numberOfPages"
      [linkParts]="['/nodes', nodePK, 'transports']"
      [queryParams]="dataFilterer.currentUrlQueryParams">
    </app-paginator>
  </div>
</div>

<div
  class="rounded-elevated-box mt-3"
  *ngIf="dataSource && dataSource.length > 0"
><div class="box-internal-container overflow" [ngClass]="{'small-node-list-margins': showShortList_, 'full-node-list-margins': !showShortList_}">
  <!-- Table for large screens. -->
  <table
    class="responsive-table-translucid d-none d-md-table"
    [ngClass]="{'d-lg-none d-xl-table': showShortList_}"
    cellspacing="0" cellpadding="0"
  >
    <!-- Column names. -->
    <tr>
      <th></th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(stateSortData)" [matTooltip]="'transports.state-tooltip' | translate">
        <span class="dot-outline-white"></span>
        <mat-icon *ngIf="dataSorter.currentSortingColumn === stateSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
      </th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(idSortData)">
        {{ 'transports.id' | translate }}
        <ng-container *ngIf="dataSorter.currentSortingColumn === idSortData">
          <mat-icon [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          <ng-container *ngIf="dataSorter.currentlySortingByLabel">*</ng-container>
        </ng-container>
      </th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(remotePkSortData)">
        {{ 'transports.remote-node' | translate }}
        <ng-container *ngIf="dataSorter.currentSortingColumn === remotePkSortData">
          <mat-icon [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          <ng-container *ngIf="dataSorter.currentlySortingByLabel">*</ng-container>
        </ng-container>
      </th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(typeSortData)">
        {{ 'transports.type' | translate }}
        <mat-icon *ngIf="dataSorter.currentSortingColumn === typeSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
      </th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(uploadedSortData)">
        {{ 'common.uploaded' | translate }}
        <mat-icon *ngIf="dataSorter.currentSortingColumn === uploadedSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
      </th>
      <th class="sortable-column" (click)="dataSorter.changeSortingOrder(downloadedSortData)">
        {{ 'common.downloaded' | translate }}
        <mat-icon *ngIf="dataSorter.currentSortingColumn === downloadedSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
      </th>
      <th class="actions"></th>
    </tr>
    <!-- Values. -->
    <tr *ngFor="let transport of dataSource">
      <td class="selection-col">
        <mat-checkbox
          [checked]="selections.get(transport.id)"
          (change)="changeSelection(transport)">
        </mat-checkbox>
      </td>
      <td>
        <span [class]="transportStatusClass(transport, true)" [matTooltip]="transportStatusText(transport, true) | translate"></span>
      </td>
      <td>
        <app-labeled-element-text
          [short]="true"
          id="{{ transport.id }}"
          shortTextLength="4"
          (labelEdited)="refreshData()"
          [elementType]="labeledElementTypes.Transport">
        </app-labeled-element-text>
      </td>
      <td>
        <app-labeled-element-text
          [short]="true"
          id="{{ transport.remote_pk }}"
          shortTextLength="4"
          (labelEdited)="refreshData()">
        </app-labeled-element-text>
      </td>
      <td>
        {{ transport.type }}
      </td>
      <td>
        {{ transport.log.sent | autoScale }}
      </td>
      <td>
        {{ transport.log.recv | autoScale }}
      </td>
      <td class="actions">
        <button
          (click)="details(transport)"
          mat-icon-button
          [matTooltip]="'transports.details.title' | translate"
          class="action-button transparent-button"
        >
          <mat-icon [inline]="true">visibility</mat-icon>
        </button>
        <button
          (click)="delete(transport.id)"
          mat-icon-button
          [matTooltip]="'transports.delete' | translate"
          class="action-button transparent-button"
        >
          <mat-icon [inline]="true">close</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <!-- List for small screens. -->
  <table
    class="responsive-table-translucid d-md-none"
    [ngClass]="{'d-lg-table d-xl-none': showShortList_}"
    cellspacing="0" cellpadding="0"
  >
    <!-- Sorting button. -->
    <tr class="selectable" (click)="dataSorter.openSortingOrderModal()"><td>
      <div class="list-item-container">
        <div class="left-part">
          <div class="title">{{ 'tables.sorting-title' | translate }}</div>
          <div>{{ dataSorter.currentSortingColumn.label | translate }}
            <ng-container *ngIf="dataSorter.currentlySortingByLabel">{{ 'tables.label' | translate }}</ng-container>
            <ng-container *ngIf="dataSorter.sortingInReverseOrder">{{ 'tables.inverted-order' | translate }}</ng-container>
          </div>
        </div>
        <div class="right-part">
          <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </td></tr>
    <!-- Values. -->
    <tr *ngFor="let transport of dataSource"><td>
      <div class="list-item-container">
        <div class="check-part">
          <mat-checkbox
            [checked]="selections.get(transport.id)"
            (change)="changeSelection(transport)">
          </mat-checkbox>
        </div>
        <div class="left-part">
          <div class="list-row">
            <span class="title">{{ 'transports.state' | translate }}</span>:
            <span [class]="transportStatusClass(transport, false) + ' title'">{{ transportStatusText(transport, false) | translate }}</span>
          </div>
          <div class="list-row long-content">
            <span class="title">{{ 'transports.id' | translate }}</span>:
            <app-labeled-element-text
              id="{{ transport.id }}"
              (labelEdited)="refreshData()"
              [elementType]="labeledElementTypes.Transport">
            </app-labeled-element-text>
          </div>
          <div class="list-row long-content">
            <span class="title">{{ 'transports.remote-node' | translate }}</span>:
            <app-labeled-element-text
              id="{{ transport.remote_pk }}"
              (labelEdited)="refreshData()">
            </app-labeled-element-text>
          </div>
          <div class="list-row">
            <span class="title">{{ 'transports.type' | translate }}</span>:
            {{ transport.type }}
          </div>
          <div class="list-row">
            <span class="title">{{ 'common.uploaded' | translate }}</span>:
            {{ transport.log.sent | autoScale }}
          </div>
          <div class="list-row">
            <span class="title">{{ 'common.downloaded' | translate }}</span>:
            {{ transport.log.recv | autoScale }}
          </div>
        </div>
        <div class="margin-part"></div>
        <div class="right-part">
          <button
            (click)="$event.stopPropagation(); showOptionsDialog(transport)"
            mat-icon-button
            [matTooltip]="'common.options' | translate"
            class="transparent-button"
          >
            <mat-icon>{{ 'add' }}</mat-icon>
          </button>
        </div>
      </div>
    </td></tr>
  </table>

  <!-- Link for accessing the full list. -->
  <app-view-all-link
    [numberOfElements]="filteredTransports.length"
    [linkParts]="['/nodes', nodePK, 'transports']"
    [queryParams]="dataFilterer.currentUrlQueryParams"
    *ngIf="showShortList_ && numberOfPages > 1"
  ></app-view-all-link>
</div></div>

<!-- Msg shown if the list is empty. -->
<div class="rounded-elevated-box mt-3" *ngIf="!dataSource || dataSource.length === 0">
  <div class="box-internal-container">
    <mat-icon [inline]="true" class="alert-icon">warning</mat-icon>
    <span class="font-sm" *ngIf="allTransports.length === 0">{{ 'transports.empty' | translate }}</span>
    <span class="font-sm" *ngIf="allTransports.length !== 0">{{ 'transports.empty-with-filter' | translate }}</span>
  </div>
</div>

<!-- Upper paginator. -->
<app-paginator
  *ngIf="!showShortList_ && numberOfPages > 1 && dataSource"
  [currentPage]="currentPage"
  [numberOfPages]="numberOfPages"
  [linkParts]="['/nodes', nodePK, 'transports']"
  [queryParams]="dataFilterer.currentUrlQueryParams">
</app-paginator>
