@import "bootstrap_overrides";
@import "variables";

.overflow {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
  }
}

.actions {
  text-align: right;
  width: 90px;
}

.alert-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.small-column {
  width: 1px;
  text-align: center;
}

.persistent-icon {
  font-size: 14px !important;
  color: $yellow;
}

.offline {
  opacity: 0.35;
}
