@import 'variables';

.title {
  margin-right: auto;
}

.overflow {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
  }
}

.text {
  font-size: 14px;
  font-weight: 300;
}

.selection-col {
  width: 30px;
}
