<div [class]="'main-container ' + config.color">
  @if (config.icon) {
    <div class="icon-container"><mat-icon [inline]="true">{{ config.icon }}</mat-icon></div>
  }
  <div class="text-container">
    {{ config.text | translate:config.textTranslationParams }}
    @if (config.smallText) {
      <div class="second-line">
        {{ 'common.error' | translate }}
        {{ config.smallText | translate:config.smallTextTranslationParams }}
      </div>
    }
  </div>
  <div class="close-button-separator"></div>
  <mat-icon class="close-button" (click)="close()">close</mat-icon>
</div>
