@import "variables";
@import "utilities/utilities";

.main-container {
  width: 100%;
  display: flex;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.red-background {
  background-color: #ea0606;
}

.green-background {
  background-color: #1fb11f;
}

.yellow-background {
  background-color: #ff9900;
}

.icon-container {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.text-container {
  flex-grow: 1;
  margin-right: 10px;
  font-size: $font-size-base;
  word-break: break-word;

  .second-line {
    font-size: $font-size-smaller;
    opacity: 0.9;
  }
}

.close-button-separator {
  width: 1px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.close-button {
  @extend .cursor-pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

mat-icon {
  position: relative;
  top: 1px;
  user-select: none;
}
