<div *ngIf="loading" class="d-flex flex-column h-100 w-100">
  <div>
    <app-top-bar
      [titleParts]="['vpn.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="0"
      [showUpdateButton]="false"
      [localVpnKey]="currentLocalPk"
    ></app-top-bar>
  </div>
  <app-loading-indicator></app-loading-indicator>
</div>

<div class="general-container" *ngIf="!loading">
  <div class="row">
    <div class="col-12">
      <app-top-bar
        [titleParts]="['vpn.title']"
        [tabsData]="tabsData"
        [selectedTabIndex]="0"
        [showUpdateButton]="false"
        [localVpnKey]="currentLocalPk"
      ></app-top-bar>
    </div>
  </div>
  <div class="row flex-1">
    <!-- VPN stopped info. -->
    <div *ngIf="!showStarted" class="col-7 column left-area">
      <div class="column-container">
        <div class="title">{{ 'vpn.status-page.start-title' | translate }}</div>
        <div>
          <div class="start-button" (click)="start()" [ngClass]="{'disabled-button': showBusy}">
            <div class="start-button-img-container">
              <div class="start-button-img"></div>
            </div>
            <mat-spinner [diameter]="40" *ngIf="showBusy"></mat-spinner>
            <mat-icon [inline]="true" *ngIf="!showBusy">power_settings_new</mat-icon>
          </div>
        </div>
        <div class="current-server">
          <ng-container *ngIf="currentRemoteServer">
            <div class="flag">
              <div
                [style]="'background-image: url(\'assets/img/big-flags/' + currentRemoteServer.countryCode.toLocaleLowerCase() + '.png\');'"
                [matTooltip]="getCountryName(currentRemoteServer.countryCode)"
              ></div>
            </div>
            <div class="text-container">
              <div class="top-line" *ngIf="currentRemoteServer.name">{{ currentRemoteServer.name }}</div>
              <div class="top-line" *ngIf="!currentRemoteServer.name">{{ 'vpn.status-page.entered-manually' | translate }}</div>
              <div class="bottom-line">
                <app-copy-to-clipboard-text [shortSimple]="true" [text]="currentRemoteServer.pk"></app-copy-to-clipboard-text>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!currentRemoteServer">
            <div class="none">{{ 'vpn.status-page.no-server' | translate }}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- VPN started info. -->
    <div *ngIf="showStarted" class="col-7 column left-area-connected">
      <div class="column-container">
        <div class="time-container">
          <div class="time-content">
            <!-- Time. -->
            <mat-icon [inline]="true">timer</mat-icon>
            <span>01:12:21</span>
          </div>
        </div>
        <div class="state-title">Your connection is currently:</div>
        <div class="state-text">{{ currentStateText | translate }}</div>
        <div class="state-explanation">{{ (currentStateText + '-info') | translate }}</div>
        <!-- Data stats. -->
        <div class="data-container">
          <div class="rounded-elevated-box data-box">
            <div class="chart-container">
              <app-line-chart [data]="receivedHistory" height="140" color="#00000080"></app-line-chart>
            </div>
            <div class="content">
              <mat-icon [inline]="true" class="download">keyboard_backspace</mat-icon>
              <div class="speed">1.2 mb/s</div>
              <div class="total">345 MB total</div>
            </div>
          </div>
          <div class="rounded-elevated-box data-box">
            <div class="chart-container">
              <app-line-chart [data]="sentHistory" height="140" color="#00000080"></app-line-chart>
            </div>
            <div class="content">
              <mat-icon [inline]="true" class="upload">keyboard_backspace</mat-icon>
              <div class="speed">1.2 mb/s</div>
              <div class="total">345 MB total</div>
            </div>
          </div>
        </div>
        <!-- Disconnect button. -->
        <div class="disconnect-button" (click)="stop()" [ngClass]="{'disabled-button': showBusy}">
          <div class="disconnect-button-container">
            <div class="d-inline-flex">
              <div *ngIf="showBusy">
                <mat-spinner [diameter]="24"></mat-spinner>
              </div>
              <mat-icon [inline]="true" *ngIf="!showBusy">power_settings_new</mat-icon>
              <span>{{ 'vpn.status-page.disconnect' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right info panel. -->
    <div class="col-5 column right-area">
      <div class="column-container">
        <div class="content-area">
          <div>
            <div class="title">{{ 'vpn.status-page.data.ip' | translate }}</div>
            <div class="big-text">
              <ng-container *ngIf="currentIp">{{ currentIp }}</ng-container>
              <ng-container *ngIf="!currentIp && !loadingCurrentIp">{{ 'common.unknown' | translate }}</ng-container>
              <mat-spinner *ngIf="loadingCurrentIp" [diameter]="20"></mat-spinner>
              <mat-icon *ngIf="problemGettingIp" class="small-icon blinking" [inline]="true" [matTooltip]="'vpn.status-page.data.ip-problem-info' | translate">warning</mat-icon>
              <mat-icon *ngIf="!loadingCurrentIp" (click)="getIp()" class="big-icon transparent-button" [inline]="true" [matTooltip]="'vpn.status-page.data.ip-refresh-info' | translate">refresh</mat-icon>
            </div>
          </div>
          <div class="margin"></div>
          <div>
            <div class="title">{{ 'vpn.status-page.data.country' | translate }}</div>
            <div class="big-text">
              <ng-container *ngIf="ipCountry">{{ ipCountry }}</ng-container>
              <ng-container *ngIf="!ipCountry && !loadingCurrentIp">{{ 'common.unknown' | translate }}</ng-container>
              <mat-spinner *ngIf="loadingCurrentIp" [diameter]="20"></mat-spinner>
              <mat-icon *ngIf="problemGettingIpCountry" class="small-icon blinking" [inline]="true" [matTooltip]="'vpn.status-page.data.ip-country-problem-info' | translate">warning</mat-icon>
            </div>
          </div>
          <div class="margin"></div>
          <div>
            <div class="title">{{ 'vpn.status-page.data.local-pk' | translate }}</div>
            <div class="small-text">
              <app-copy-to-clipboard-text [text]="currentLocalPk"></app-copy-to-clipboard-text>
            </div>
          </div>
          <div class="margin" *ngIf="showStarted"></div>
          <div *ngIf="showStarted && currentRemoteServer">
            <div class="title">{{ 'vpn.status-page.data.remote-pk' | translate }}</div>
            <div class="small-text">
              <app-copy-to-clipboard-text [text]="currentRemoteServer.pk"></app-copy-to-clipboard-text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
