@import "variables";
@import "bootstrap_overrides";

.not-found-label {
  align-items: center;
  justify-content: center;
  font-size: $font-size-base;
  position: relative;

  mat-icon {
    position: relative;
    top: 5px;
    font-size: 22px;
    opacity: 0.5;
    margin-right: 3px;
  }
}

.full-size-main-area {
  width: 100%;
}

.main-area {
  width: 100%;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    width: 73%;
    padding-right: 20px;
    float: left;
  }
}

.right-bar {
  width: 27%;
  float: right;
  display: none;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: block;
    width: 27%;
    float: right;
  }
}
