<app-sidenav-content *ngIf="node">
    <app-actions [node]="node"></app-actions>
  </app-sidenav-content>
  
  <div *ngIf="!node" class="row full-height full-width">
    <app-loading-indicator></app-loading-indicator>
  </div>
  
  <div class="row" *ngIf="node">
    <div class="col-12">
      <div class="time-container">
        <a
          mat-button
          class="tab-button white-theme"
          [disabled]="showingRoutes"
          [disableRipple]="true"
          [routerLink]="['/nodes', node.local_pk, 'routing']"
          >
          <mat-icon [inline]="true">shuffle</mat-icon>
          <span>{{ 'actions.menu.routing' | translate }}</span>
        </a>
        <a
          mat-button
          class="tab-button white-theme"
          [disabled]="!showingRoutes"
          [disableRipple]="true"
          [routerLink]="['/nodes', node.local_pk, 'apps']"
          >
          <mat-icon [inline]="true">apps</mat-icon>
          <span>{{ 'actions.menu.apps' | translate }}</span>
        </a>
        <div class="blank-space"></div>
        <app-refresh-button
          [secondsSinceLastUpdate]="secondsSinceLastUpdate"
          [showLoading]="updating"
          [showAlert]="errorsUpdating"
          [refeshRate]="storageService.getRefreshTime()"
          (click)="refresh(0)"
        ></app-refresh-button>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="d-flex flex-column h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="node-right font-smaller d-flex flex-column h-100 mt-4.5">
        <div class="node-ips-container d-flex flex-column justify-content-between">
          <div class="section">
            <span class="section-title">{{ 'node.details.node-info.title' | translate }}</span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.label' | translate }}</span>
              {{ node.label }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.public-key' | translate }}</span>
              {{ node.local_pk }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.port' | translate }}</span>
              {{ node.port }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.node-version' | translate }}</span>
              {{ node.node_version }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.app-protocol-version' | translate }}</span>
              {{ node.app_protocol_version }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-info.time.title' | translate }}</span>
              {{ ('node.details.node-info.time.' + onlineTimeTextElements[0]) | translate:{time: onlineTimeTextElements[1]} }}
              <mat-icon
                *ngIf="onlineTimeTextElements[2]"
                [inline]="true"
                [matTooltip]="'node.details.node-info.time.minutes' | translate:{time: onlineTimeTextElements[2]}"
                >
                info
              </mat-icon>
            </span>
          </div>
          <hr>
          <div class="section">
            <span class="section-title">{{ 'node.details.node-health.title' | translate }}</span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-health.status' | translate }}</span>
              <i *ngIf="node.health.status && node.health.status === 200" class="dot-green"></i>
              <i *ngIf="!node.health.status || node.health.status !== 200" class="dot-red"></i>
              {{ node.health.status ? node.health.status : ('node.details.node-health.element-offline' | translate) }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-health.transport-discovery' | translate }}</span>
              <i *ngIf="node.health.transport_discovery && node.health.transport_discovery === 200" class="dot-green"></i>
              <i *ngIf="!node.health.transport_discovery || node.health.transport_discovery !== 200" class="dot-red"></i>
              {{ node.health.transport_discovery ? node.health.transport_discovery : ('node.details.node-health.element-offline' | translate) }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-health.route-finder' | translate }}</span>
              <i *ngIf="node.health.route_finder && node.health.route_finder === 200" class="dot-green"></i>
              <i *ngIf="!node.health.route_finder || node.health.route_finder !== 200" class="dot-red"></i>
              {{ node.health.route_finder ? node.health.route_finder : ('node.details.node-health.element-offline' | translate) }}
            </span>
            <span class="font-smaller info-line">
              <span class="title">{{ 'node.details.node-health.setup-node' | translate }}</span>
              <i *ngIf="node.health.setup_node && node.health.setup_node === 200" class="dot-green"></i>
              <i *ngIf="!node.health.setup_node || node.health.setup_node !== 200" class="dot-red"></i>
              {{ node.health.setup_node ? node.health.setup_node : ('node.details.node-health.element-offline' | translate) }}
            </span>
          </div>
          <hr>
        </div>
        <app-charts
          class="d-flex flex-column justify-content-end"
          [transports]="node.transports"
        ></app-charts>
      </div>
    </div>
  </div>
  