<!-- Use nodeLoaded boolean flag with if/else to avoid Angular @if detection issues -->
<ng-container *ngIf="nodeLoaded; else loadingBlock">
  <div class="row">
    <div class="col-12">
      <app-top-bar
        [titleParts]="titleParts"
        [pageHeaderLabel]="headerLabel"
        [pageHeaderIdentifier]="headerIdentifier"
        [tabsData]="tabsData"
        [selectedTabIndex]="selectedTabIndex"
        [secondsSinceLastUpdate]="secondsSinceLastUpdate"
        [showLoading]="updating"
        [showAlert]="errorsUpdating"
        [refeshRate]="storageService.getRefreshTime()"
        [optionsData]="nodeActionsHelper ? nodeActionsHelper.options : null"
        [returnText]="nodeActionsHelper ? nodeActionsHelper.returnButtonText : ''"
        (optionSelected)="performAction($event)"
        (refreshRequested)="forceDataRefresh(true)"
      ></app-top-bar>
    </div>
    <div class="col-12">
      <!-- Right-bar / split-view is gone. The active tab content
           is full-width; the visor's identity (label + PK) lives
           in the top bar instead, persistent across tabs. -->
      <div class="full-size-main-area">
        <div class="d-flex flex-column h-100">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingBlock>
  <div class="d-flex flex-column h-100 w-100">
    <div>
      <app-top-bar
        [titleParts]="titleParts"
        [pageHeaderLabel]="headerLabel"
        [pageHeaderIdentifier]="headerIdentifier"
        [tabsData]="tabsData"
        [selectedTabIndex]="selectedTabIndex"
        [showUpdateButton]="false"
        [optionsData]="nodeActionsHelper ? nodeActionsHelper.options : null"
        [returnText]="nodeActionsHelper ? nodeActionsHelper.returnButtonText : ''"
        (optionSelected)="performAction($event)"
      ></app-top-bar>
    </div>
    <ng-container *ngIf="!notFound && !loadFailed">
      <app-loading-indicator></app-loading-indicator>
    </ng-container>
    <!-- Msg shown if the node is not found. -->
    <ng-container *ngIf="notFound">
      <div class="w-100 h-100 d-flex not-found-label">
        <div>
          <mat-icon [inline]="true">error</mat-icon>
          {{ 'node.not-found' | translate }}
        </div>
      </div>
    </ng-container>
    <!-- Msg shown if loading failed after multiple retries. -->
    <ng-container *ngIf="loadFailed">
      <div class="w-100 h-100 d-flex not-found-label">
        <div>
          <mat-icon [inline]="true">error</mat-icon>
          {{ 'node.error-load' | translate }}
          <br>
          <button mat-raised-button color="primary" style="margin-top: 16px;" (click)="retryLoading()">
            {{ 'common.refresh' | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
