<app-dialog [headline]="(state !== confirmationStates.Done ? data.headerText : doneTitle) | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  <div class="text-container">
    {{ (state !== confirmationStates.Done ? data.text : doneText) | translate }}
  </div>
  @if ((data.list && state !== confirmationStates.Done) || (doneList && state === confirmationStates.Done)) {
    <div class="list-container">
      @for (element of (state !== confirmationStates.Done ? data.list : doneList); track element) {
        <div>
          - {{ element | translate }}
        </div>
      }
    </div>
  }
  @if (data.lowerText && state !== confirmationStates.Done) {
    <div class="text-container">
      {{ data.lowerText | translate }}
    </div>
  }

  <div class="buttons">
    @if (data.cancelButtonText && state !== confirmationStates.Done) {
      <app-button
        #cancelButton
        color="accent"
        (action)="closeModal()"
        >
        {{ data.cancelButtonText | translate }}
      </app-button>
    }
    <app-button
      #confirmButton
      color="primary"
      (action)="state === confirmationStates.Asking ? sendOperationAcceptedEvent() : closeModal()">
      {{ (state !== confirmationStates.Done ? data.confirmButtonText : 'confirmation.close') | translate }}
    </app-button>
  </div>
</app-dialog>
