<app-dialog [headline]="(state !== confirmationStates.Done ? data.headerText : doneTitle) | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  <div class="text-container">
    {{ (state !== confirmationStates.Done ? data.text : doneText) | translate }}
  </div>
  <div *ngIf="(data.list && state !== confirmationStates.Done) || (doneList && state === confirmationStates.Done)" class="list-container">
    <div *ngFor="let element of (state !== confirmationStates.Done ? data.list : doneList)">
      - {{ element | translate }}
    </div>
  </div>
  <div *ngIf="data.lowerText && state !== confirmationStates.Done" class="text-container">
    {{ data.lowerText | translate }}
  </div>

  <div class="buttons">
    <app-button
      #cancelButton
      color="accent"
      (action)="closeModal()"
      *ngIf="data.cancelButtonText && state !== confirmationStates.Done">
      {{ data.cancelButtonText | translate }}
    </app-button>
    <app-button
      #confirmButton
      color="primary"
      (action)="state === confirmationStates.Asking ? sendOperationAcceptedEvent() : closeModal()">
      {{ (state !== confirmationStates.Done ? data.confirmButtonText : 'confirmation.close') | translate }}
    </app-button>
  </div>
</app-dialog>
