@use "sass:map";
@use 'variables';
@use "bootstrap_overrides";

.text-container {
  word-break: break-word;
}

.list-container {
  font-size: 14px;
  margin: 10px;
  color: variables.$blue-medium;
  word-break: break-word;
  line-height: 1.2;

  .list-element {
    display: flex;
    margin-bottom: 10px;

    .left-part {
      flex-grow: 1;
      flex-shrink: 1;
      align-self: center;
      margin-right: 10px;
      min-width: 0;

      .name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: (map.get(bootstrap_overrides.$grid-breakpoints, sm) - 1)) {
          & {
            font-size: variables.$font-size-mini;
          }
        }
      }

      .version {
        font-size: variables.$font-size-mini;
        color: variables.$light-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .right-part {
      flex-basis: 0;
      flex-shrink: 0;
    }
  }

  .details {
    color: variables.$light-gray;
  }
}
