<app-dialog [headline]="'update-all.title' | translate" [dialog]="dialogRef">
  @if (updatableNodes && updatableNodes.length > 0) {
    <div class="text-container">
      {{ 'update-all.updatable-list-text' | translate }}
    </div>
    <div class="list-container">
      @for (node of updatableNodes; track node) {
        <div class="list-element">
          <div class="left-part">
            <div class="name">{{node.label}}</div>
            <div class="version">{{node.version}}</div>
          </div>
          <div class="right-part">
            <app-button color="primary" (click)="openTerminal(node.key)">
              {{ 'update-all.update-button' | translate }}
            </app-button>
          </div>
        </div>
      }
    </div>
  }

  @if (nonUpdatableNodes && nonUpdatableNodes.length > 0) {
    <div class="text-container">
      {{ 'update-all.non-updatable-list-text' | translate }}
    </div>
    <div class="list-container">
      @for (node of nonUpdatableNodes; track node) {
        <div class="list-element">
          <div class="left-part">
            <div class="name">{{node.label}}</div>
            <div class="version">{{node.version}}</div>
            @if (node.tag) {
              <div class="version">{{node.tag}}</div>
            }
          </div>
        </div>
      }
    </div>
  }
</app-dialog>
