@import "variables";
@import "text";

table {
  width: 100%;

  td {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: $font-size-vpn-list !important;
    font-weight: normal !important;
  }
}

.data-column {
  max-width: 0;
  width: 50%;
  @extend .single-line;
}

.header-container {
  max-width: 100%;
  display: inline-flex;

  .header-text {
    @extend .single-line;
    flex-grow: 1;
  }
}

mat-spinner {
  display: inline-block;
  opacity: 0.5;
  margin-left: 2px;
  position: relative;
  top: 2px;
  
  ::ng-deep circle {
    stroke: $white;
  }
}
