@import "variables";

.mat-dialog-content {
  padding: 0;
  margin-bottom: -$mat-dialog-padding;
  background: black;
  height: 100000px;
}

.wrapper {
  padding: 20px;

  div {
    word-break: break-all;
  }
}
