<app-dialog
  [headline]="('apps.vpn-socks-client-settings.' + ( configuringVpn ? 'vpn-title' : 'socks-title')) | translate"
  [dialog]="dialogRef"
  [disableDismiss]="disableDismiss"
  [includeVerticalMargins]="false"
  [includeScrollableArea]="false"
  >
  <app-tab-selector [tabNames]="tabLabels" [selectedTab]="currentTab" (tabChanged)="tabChangeRequested($event)"></app-tab-selector>
  <mat-dialog-content #content><mat-tab-group #tabGroup (selectedIndexChange)="tabIdexChanged()">
    <!-- Form. -->
    <mat-tab [label]="tabLabels[0] | translate">
      <form [formGroup]="form">
        <mat-form-field [ngClass]="{'element-disabled' : disableDismiss}">
          <div class="field-container">
            <label class="field-label" for="remoteKey">{{ 'apps.vpn-socks-client-settings.public-key' | translate }}</label>
            <input
              id="pk"
              formControlName="pk"
              maxlength="66"
              #firstInput
              matInput
              >
          </div>
          <mat-error>
            @if (!this.form.get('pk').hasError('pattern')) {
              <span>{{ 'apps.vpn-socks-client-settings.remote-key-length-error' | translate }}</span>
            } @else {
              <span>{{ 'apps.vpn-socks-client-settings.remote-key-chars-error' | translate }}</span>
            }
          </mat-error>
        </mat-form-field>

        @if (configuringVpn) {
          <mat-form-field [ngClass]="{'element-disabled' : disableDismiss}">
            <div class="field-container">
              <label class="field-label" for="remoteKey">{{ 'apps.vpn-socks-client-settings.password' | translate }}</label>
              <input
                id="password"
                type="password"
                formControlName="password"
                maxlength="100"
                matInput
                >
            </div>
          </mat-form-field>
        }

        @if (form && form.get('password').value) {
          <div class="password-history-warning">
            <mat-icon [inline]="true">warning</mat-icon>
            {{ 'apps.vpn-socks-client-settings.password-history-warning' | translate }}
          </div>
        }

        <app-button
          #button
          (action)="saveChanges()"
          [disabled]="!form.valid || working"
          color="primary"
          class="float-right"
          >
          {{ 'apps.vpn-socks-client-settings.save' | translate }}
        </app-button>
      </form>
    </mat-tab>
    <!-- Discovery. -->
    <mat-tab [label]="tabLabels[1] | translate">
      @if (loadingFromDiscovery) {
        <app-loading-indicator class="loading-indicator" [showWhite]="false"></app-loading-indicator>
      }

      <!-- No proxies in the discovery service msg. -->
      @if (!loadingFromDiscovery && proxiesFromDiscovery.length === 0) {
        <div class="info-text">
          <mat-icon [inline]="true">error</mat-icon>
          {{ 'apps.vpn-socks-client-settings.no-elements' | translate }}
        </div>
      }

      <!-- Filters button. -->
      @if (!loadingFromDiscovery && proxiesFromDiscovery.length > 0) {
        <button
          mat-button
          class="list-button grey-button-background w-100"
          (click)="changeFilters()"
          >
          <div class="filter-button-content">
            <div class="icon-area">
              <mat-icon [inline]="true">filter_list</mat-icon>
            </div>
            <div>
              @if (currentFiltersTexts.length === 0) {
                <div class="item">
                  {{ 'apps.vpn-socks-client-settings.no-filter' | translate }}
                </div>
              }
              @for (filterTexts of currentFiltersTexts; track filterTexts) {
                <div class="item">
                  <span>{{ filterTexts[0] | translate }} </span>
                  @if (filterTexts[1]) {
                    {{ filterTexts[1] | translate }}
                  }
                  @if (filterTexts[2]) {
                    {{ filterTexts[2] }}
                  }
                </div>
              }
              <div class="item" class="blue-part">{{ 'apps.vpn-socks-client-settings.click-to-change' | translate }}</div>
            </div>
          </div>
        </button>
        <!-- No proxies with the current filters msg. -->
        @if (filteredProxiesFromDiscovery.length === 0) {
          <div class="info-text">
            <mat-icon [inline]="true">error</mat-icon>
            {{ 'apps.vpn-socks-client-settings.no-elements-for-filters' | translate }}
          </div>
        }
        <!-- Proxies list. -->
        @for (proxy of proxiesFromDiscoveryToShow; track proxy) {
          <div class="d-flex">
            <!-- Server button. -->
            <button
              mat-button
              class="list-button grey-button-background w-100"
              [ngClass]="{'element-disabled' : disableDismiss}"
              (click)="saveChanges(proxy.pk, null, false, proxy.location)"
              >
              <div class="button-content">
                <div class="item">
                  <span>{{ 'apps.vpn-socks-client-settings.key' | translate }}</span>
                  <span>&nbsp;@for (part of getHighlightedTextParts(proxy.pk, currentFilters.key); track part; let i = $index) {
                    <span [ngClass]="{ highlighted: i % 2 !== 0 }">{{ part }}</span>
                  }</span>
                </div>
                @if (proxy.location) {
                  <div class="item">
                    <span>{{ 'apps.vpn-socks-client-settings.location' | translate }}</span>
                    <span>&nbsp;
                      @if (proxy.country) {
                        <div class="flag-container">
                          <div [style]="'background-image: url(\'assets/img/flags/' + proxy.country.toLocaleLowerCase() + '.png\');'"></div>
                        </div>
                      }
                      @for (part of getHighlightedTextParts(proxy.location, currentFilters.location); track part; let i = $index) {
                        <span [ngClass]="{ highlighted: i % 2 !== 0 }">{{ part }}</span>
                      }
                    </span>
                  </div>
                }
              </div>
            </button>
            <!-- Copy button. -->
            <button
              mat-button
              class="list-button grey-button-background"
              (click)="copyPk(proxy.pk)"
              [matTooltip]="'apps.vpn-socks-client-settings.copy-pk-info' | translate"
              >
              <mat-icon class="option-button-icon" [inline]="true">filter_none</mat-icon>
            </button>
          </div>
        }
      }

      <!-- Paginator. -->
      @if (numberOfPages > 1) {
        <div class="paginator">
          <span>{{ 'apps.vpn-socks-client-settings.pagination-info' | translate:{currentElementsRange: currentRange, totalElements: filteredProxiesFromDiscovery.length} }}</span>
          <button (click)="goToPreviousPage()" mat-icon-button class="hard-grey-button-background">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button (click)="goToNextPage()" mat-icon-button class="hard-grey-button-background">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      }
    </mat-tab>
    <!-- History. -->
    <mat-tab [label]="tabLabels[2] | translate">
      <!-- Msg shown if there is no history. -->
      @if (history.length === 0) {
        <div>
          <div class="info-text">
            <mat-icon [inline]="true">error</mat-icon>
            {{ 'apps.vpn-socks-client-settings.no-history' | translate:{number: maxHistoryElements} }}
          </div>
        </div>
      }

      @for (entry of history; track entry) {
        <div class="d-flex">
          <!-- Buttons for big screens. -->
          <button
            mat-button
            class="list-button grey-button-background w-100 d-none d-md-inline"
            [ngClass]="{'element-disabled' : disableDismiss}"
            (click)="useFromHistory(entry)"
            >
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </button>
          <button
            mat-button
            class="list-button grey-button-background d-none d-md-inline"
            (click)="changeNote(entry)"
            [matTooltip]="'apps.vpn-socks-client-settings.change-note' | translate"
            >
            <mat-icon class="option-button-icon" [inline]="true">edit</mat-icon>
          </button>
          <button
            mat-button
            class="list-button grey-button-background d-none d-md-inline"
            (click)="removeFromHistory(entry.key)"
            [matTooltip]="'apps.vpn-socks-client-settings.remove-entry' | translate"
            >
            <mat-icon class="option-button-icon" [inline]="true">close</mat-icon>
          </button>
          <!-- Button for small screens. -->
          <button
            mat-button
            class="list-button grey-button-background w-100 d-md-none"
            [ngClass]="{'element-disabled' : disableDismiss}"
            (click)="openHistoryOptions(entry)"
            >
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </button>
          <!-- Button content. -->
          <ng-template #content>
            <div class="button-content d-flex">
              <!-- Info. -->
              <div class="full-size-area">
                <div class="item">
                  <span>{{ 'apps.vpn-socks-client-settings.key' | translate }}</span>
                  <span> {{ entry.key }}</span>
                </div>
                <div class="item">
                  <span>{{ 'apps.vpn-socks-client-settings.note' | translate }}</span>
                  @if (entry.note) {
                    <span> {{ entry.note }}</span>
                  }
                  @if (!entry.note) {
                    @if (entry.enteredManually) {
                      <span> {{ 'apps.vpn-socks-client-settings.note-entered-manually' | translate }}</span>
                    }
                    @if (!entry.enteredManually) {
                      <span> {{ 'apps.vpn-socks-client-settings.note-obtained' | translate }}</span>
                      @if (entry.location) {
                        <span> ({{ entry.location }})</span>
                      }
                    }
                  }
                </div>
              </div>
              <!-- Buttons. -->
              <div class="options-container">
                <div class="small-button d-md-none">
                  <mat-icon [inline]="true">add</mat-icon>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      }
    </mat-tab>
    <!-- Settings. -->
    @if (configuringVpn) {
      <mat-tab [label]="tabLabels[3] | translate">
        <form [formGroup]="settingsForm">
          <!-- DNS option. -->
          <mat-form-field [ngClass]="{'element-disabled' : disableDismiss}">
            <div class="field-container">
              <label class="field-label" for="remoteKey">{{ 'apps.vpn-socks-client-settings.dns' | translate }}</label>
              <input
                formControlName="dns"
                maxlength="15"
                matInput
                >
            </div>
            <mat-error>
              @if (!settingsForm.get('dns').valid) {
                <span>{{ 'apps.vpn-socks-client-settings.dns-error' | translate }}</span>
              }
            </mat-error>
          </mat-form-field>
          <!-- Killswitch option. -->
          <div class="main-theme settings-option">
            <mat-checkbox color="primary" formControlName="killswitch" [ngClass]="{'element-disabled' : disableDismiss}">
              {{ 'apps.vpn-socks-client-settings.killswitch-check' | translate }}
              <mat-icon [inline]="true" class="help-icon" [matTooltip]="'apps.vpn-socks-client-settings.killswitch-info' | translate">help</mat-icon>
            </mat-checkbox>
          </div>
          <!-- Settings changed alert. -->
          @if (settingsChanged) {
            <div class="settings-changed-warning">
              <mat-icon [inline]="true">warning</mat-icon>
              {{ 'apps.vpn-socks-client-settings.settings-changed-alert' | translate }}
            </div>
          }
          <!-- Save button. -->
          <app-button
            #settingsButton
            color="primary"
            class="float-right"
            [disabled]="!settingsForm.valid || !settingsChanged || working"
            (action)="saveSettings()"
            >
            {{ 'apps.vpn-socks-client-settings.save-settings' | translate }}
          </app-button>
        </form>
      </mat-tab>
    }
  </mat-tab-group></mat-dialog-content>
</app-dialog>
