<app-dialog
  [headline]="('apps.vpn-socks-client-settings.' + ( configuringVpn ? 'vpn-title' : 'socks-title')) | translate"
  [dialog]="dialogRef"
  [disableDismiss]="disableDismiss"
>
  <mat-tab-group>
    <!-- Form. -->
    <mat-tab [label]="'apps.vpn-socks-client-settings.remote-visor-tab' | translate">
      <form [formGroup]="form">
        <mat-form-field [ngClass]="{'element-disabled' : disableDismiss}">
          <input
            id="pk"
            formControlName="pk"
            maxlength="66"
            [placeholder]="'apps.vpn-socks-client-settings.public-key' | translate"
            #firstInput
            matInput
          >
          <mat-error>
            <ng-container *ngIf="!this.form.get('pk').hasError('pattern');else hexError">
              {{ 'apps.vpn-socks-client-settings.remote-key-length-error' | translate }}
            </ng-container>
          </mat-error>
          <ng-template #hexError>
            {{ 'apps.vpn-socks-client-settings.remote-key-chars-error' | translate }}
          </ng-template>
        </mat-form-field>

        <mat-form-field *ngIf="configuringVpn" [ngClass]="{'element-disabled' : disableDismiss}">
          <input
            id="password"
            type="password"
            formControlName="password"
            maxlength="100"
            [placeholder]="'apps.vpn-socks-client-settings.password' | translate"
            matInput
          >
        </mat-form-field>

        <div class="password-history-warning" *ngIf="form && form.get('password').value">
          <mat-icon [inline]="true">warning</mat-icon>
          {{ 'apps.vpn-socks-client-settings.password-history-warning' | translate }}
        </div>
    
        <app-button
          #button
          (action)="saveChanges()"
          [disabled]="!form.valid || working"
          color="primary"
          class="float-right"
        >
          {{ 'apps.vpn-socks-client-settings.save' | translate }}
        </app-button>
      </form>
    </mat-tab>
    <!-- Discovery. -->
    <mat-tab [label]="'apps.vpn-socks-client-settings.discovery-tab' | translate">
      <app-loading-indicator class="loading-indicator" [showWhite]="false" *ngIf="loadingFromDiscovery"></app-loading-indicator>

      <!-- No proxies in the discovery service msg. -->
      <div class="info-text" *ngIf="!loadingFromDiscovery && proxiesFromDiscovery.length === 0">
        <mat-icon [inline]="true">error</mat-icon>
        {{ 'apps.vpn-socks-client-settings.no-elements' | translate }}
      </div>

      <!-- Filters button. -->
      <ng-container *ngIf="!loadingFromDiscovery && proxiesFromDiscovery.length > 0">
        <button
          mat-button
          class="list-button grey-button-background w-100"
          (click)="changeFilters()"
        >
          <div class="filter-button-content">
            <div class="icon-area">
              <mat-icon [inline]="true">filter_list</mat-icon>
            </div>
            <div>
              <div class="item" *ngIf="currentFiltersTexts.length === 0">
                {{ 'apps.vpn-socks-client-settings.no-filter' | translate }}
              </div>
              <div *ngFor="let filterTexts of currentFiltersTexts" class="item">
                <span>{{ filterTexts[0] | translate }} </span>
                <ng-container *ngIf="filterTexts[1]">{{ filterTexts[1] | translate }}</ng-container>
                <ng-container *ngIf="filterTexts[2]">{{ filterTexts[2] }}</ng-container>
              </div>
              <div class="item" class="blue-part">{{ 'apps.vpn-socks-client-settings.click-to-change' | translate }}</div>
            </div>
          </div>
        </button>

        <!-- No proxies with the current filters msg. -->
        <div class="info-text" *ngIf="filteredProxiesFromDiscovery.length === 0">
          <mat-icon [inline]="true">error</mat-icon>
          {{ 'apps.vpn-socks-client-settings.no-elements-for-filters' | translate }}
        </div>

        <!-- Proxies list. -->
        <div *ngFor="let proxy of proxiesFromDiscoveryToShow" class="d-flex">
          <!-- Server button. -->
          <button
            mat-button
            class="list-button grey-button-background w-100"
            (click)="saveChanges(proxy.pk, null, false, proxy.location)"
          >
            <div class="button-content">
              <div class="item">
                <span>{{ 'apps.vpn-socks-client-settings.key' | translate }}</span>
                <span>&nbsp;<ng-container *ngFor="let part of getHighlightedTextParts(proxy.pk, currentFilters.key); let i = index">
                  <span [ngClass]="{ highlighted: i % 2 !== 0 }">{{ part }}</span>
                </ng-container></span>
              </div>
              <div class="item" *ngIf="proxy.location">
                <span>{{ 'apps.vpn-socks-client-settings.location' | translate }}</span>
                <span>&nbsp;
                  <ng-container *ngIf="proxy.country">
                    <div class="flag-container">
                      <div [style]="'background-image: url(\'assets/img/flags/' + proxy.country.toLocaleLowerCase() + '.png\');'"></div>
                    </div>
                  </ng-container>
                  <ng-container *ngFor="let part of getHighlightedTextParts(proxy.location, currentFilters.location); let i = index">
                    <span [ngClass]="{ highlighted: i % 2 !== 0 }">{{ part }}</span>
                  </ng-container>
                </span>
              </div>
            </div>
          </button>
          <!-- Copy button. -->
          <button
            mat-button
            class="list-button grey-button-background"
            (click)="copyPk(proxy.pk)"
            [matTooltip]="'apps.vpn-socks-client-settings.copy-pk-info' | translate"
          >
            <mat-icon [inline]="true">filter_none</mat-icon>
          </button>
        </div>
      </ng-container>

      <!-- Paginator. -->
      <div class="paginator" *ngIf="numberOfPages > 1">
        <span>{{ 'apps.vpn-socks-client-settings.pagination-info' | translate:{currentElementsRange: currentRange, totalElements: filteredProxiesFromDiscovery.length} }}</span>

        <button (click)="goToPreviousPage()" mat-icon-button class="hard-grey-button-background">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button (click)="goToNextPage()" mat-icon-button class="hard-grey-button-background">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-tab>
    <!-- History. -->
    <mat-tab [label]="'apps.vpn-socks-client-settings.history-tab' | translate">
      <!-- Msg shown if there is no history. -->
      <div *ngIf="history.length === 0">
        <div class="info-text">
          <mat-icon [inline]="true">error</mat-icon>
          {{ 'apps.vpn-socks-client-settings.no-history' | translate:{number: maxHistoryElements} }}
        </div>
      </div>

      <div *ngFor="let entry of history" class="d-flex">
        <!-- Buttons for big screens. -->
        <button
          mat-button
          class="list-button grey-button-background w-100 d-none d-md-inline"
          (click)="useFromHistory(entry)"
        >
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </button>
        <button
          mat-button
          class="list-button grey-button-background d-none d-md-inline"
          (click)="changeNote(entry)"
          [matTooltip]="'apps.vpn-socks-client-settings.change-note' | translate"
        >
          <mat-icon [inline]="true">edit</mat-icon>
        </button>
        <button
          mat-button
          class="list-button grey-button-background d-none d-md-inline"
          (click)="removeFromHistory(entry.key)"
          [matTooltip]="'apps.vpn-socks-client-settings.remove-entry' | translate"
        >
          <mat-icon [inline]="true">close</mat-icon>
        </button>

        <!-- Button for small screens. -->
        <button
          mat-button
          class="list-button grey-button-background w-100 d-md-none"
          (click)="openHistoryOptions(entry)"
        >
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </button>

        <!-- Button content. -->
        <ng-template #content>
          <div class="button-content d-flex">
            <!-- Info. -->
            <div class="full-size-area">
              <div class="item">
                <span>{{ 'apps.vpn-socks-client-settings.key' | translate }}</span>
                <span> {{ entry.key }}</span>
              </div>
              <div class="item">
                <span>{{ 'apps.vpn-socks-client-settings.note' | translate }}</span>
                <ng-container *ngIf="entry.note">
                  <span> {{ entry.note }}</span>
                </ng-container>
                <ng-container *ngIf="!entry.note">
                  <ng-container *ngIf="entry.enteredManually">
                    <span> {{ 'apps.vpn-socks-client-settings.note-entered-manually' | translate }}</span>
                  </ng-container>
                  <ng-container *ngIf="!entry.enteredManually">
                    <span> {{ 'apps.vpn-socks-client-settings.note-obtained' | translate }}</span>
                    <ng-container *ngIf="entry.location">
                      <span> ({{ entry.location }})</span>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <!-- Buttons. -->
            <div class="options-container">
              <div class="small-button d-md-none">
                <mat-icon [inline]="true">add</mat-icon>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </mat-tab>
    <!-- Settings. -->
    <mat-tab [label]="'apps.vpn-socks-client-settings.settings-tab' | translate" *ngIf="configuringVpn">
      <form [formGroup]="settingsForm">
        <!-- Killswitch option. -->
        <div class="main-theme settings-option">
          <mat-checkbox color="primary" formControlName="killswitch">
            {{ 'apps.vpn-socks-client-settings.killswitch-check' | translate }}
            <mat-icon [inline]="true" class="help-icon" [matTooltip]="'apps.vpn-socks-client-settings.killswitch-info' | translate">help</mat-icon>
          </mat-checkbox>
        </div>

        <mat-form-field>
          <input
            formControlName="dns"
            maxlength="15"
            [placeholder]="'apps.vpn-socks-client-settings.dns' | translate"
            matInput
          >
          <mat-error>
            <ng-container *ngIf="!settingsForm.get('dns').valid">
              {{ 'apps.vpn-socks-client-settings.dns-error' | translate }}
            </ng-container>
          </mat-error>
        </mat-form-field>

        <!-- Settings changed alert. -->
        <div class="settings-changed-warning" *ngIf="settingsChanged">
          <mat-icon [inline]="true">warning</mat-icon>
          {{ 'apps.vpn-socks-client-settings.settings-changed-alert' | translate }}
        </div>

        <!-- Save button. -->
        <app-button
          #settingsButton
          color="primary"
          class="float-right"
          [disabled]="!settingsForm.valid || !settingsChanged || working"
          (action)="saveSettings()"
        >
          {{ 'apps.vpn-socks-client-settings.save-settings' | translate }}
        </app-button>
      </form>
    </mat-tab>
  </mat-tab-group>
</app-dialog>
