@import "variables";
@import "bootstrap_overrides";

form {
  margin-top: 15px;
}

.info-text {
  margin-top: 20px;
  margin-bottom: 2px;
  text-align: center;
  color: $black;

  mat-icon {
    position: relative;
    top: 2px;
  }
}

.loading-indicator {
  height: 100px;
}

.list-button {
  border-bottom: solid 1px $grey-separator;

  .filter-button-content {
    padding: 15px 0px;
    white-space: normal;
    line-height: 1.3;
    color: $black;
    text-align: left;
    display: flex;
    font-size: $font-size-smaller;
    word-break: break-word;

    .icon-area {
      font-size: 20px;
      margin-right: 15px;
      color: $lighter-gray;
      opacity: 0.4;
      align-self: center;
    }

    .item {
      margin: 4px 0px;

      span:first-of-type {
        color: $lighter-gray;
      }
    }

    .blue-part {
      color: $blue-medium;
    }
  }

  .button-content {
    text-align: left;
    padding: 15px 0px;
    white-space: normal;

    .full-size-area {
      flex-grow: 1;
    }

    .item {
      line-height: 1.3;
      margin: 4px 0px;
      font-size: $font-size-smaller;
      color: $black;
      word-break: break-all;

      > span:first-of-type {
        color: $lighter-gray;
      }

      .highlighted {
        background-color: yellow;
      }
    }

    .options-container {
      flex-shrink: 0;
      margin-left: 5px;
      text-align: right;
      line-height: 1;
    
      .small-button {
        width: 24px;
        height: 24px;
        line-height: 14px;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.paginator {
  float: right;
  margin-top: 15px;

  > span {
    @media (max-width: (map-get($grid-breakpoints, md) - 1)) {
      & {
        font-size: $font-size-mini;
      }
    }
  }

  button {
    margin-left: 5px;
  }
}
