<!-- Window size alert for the VPN client. -->
@if (inVpnClient) {
  <div class="size-alert d-md-none">
    <div>
      <img src="assets/img/size-alert.png">
      <div>{{ 'common.window-size-error' | translate }}</div>
    </div>
  </div>
}
<div class="flex-1 content container-fluid">
  <div [ngClass]="{'background': inVpnClient}"></div>
  @if (hypervisorPkObtained || inLoginPage) {
    <router-outlet></router-outlet>
  }
  @if (!hypervisorPkObtained && !inLoginPage) {
    <app-loading-indicator class="h-100"></app-loading-indicator>
  }
</div>

@if (showingDataProblemMsg) {
  <div class="connection-problem-container">
    <span class="blinking">
      <mat-icon [inline]="true">error_outline</mat-icon> {{ 'common.data-update-problems' | translate }}
    </span>
  </div>
}
