<div class="wrapper highlight-internal-icon"
  [matTooltip]="(!short ? 'labeled-element.tooltip' : 'labeled-element.tooltip-with-text') | translate:{ text: id }"
  [matTooltipClass]="{ 'tooltip-word-break': true }"
  (click)="$event.stopPropagation(); processClick();"
>
  <span class="upper-text">
    <!-- "Local" label if the element is a local node. -->
    <span *ngIf="isLocalNode">
      <ng-container *ngIf="labelText">
        {{'labeled-element.local-element' | translate}}
      </ng-container>
      <ng-container *ngIf="!labelText">
        {{'labeled-element.unnamed-local-visor' | translate}}
      </ng-container>
    </span>
    <!-- Separator if the element is a local node and it has a label. -->
    <span *ngIf="isLocalNode && labelText">
      -
    </span>
    <!-- Label. -->
    <span *ngIf="labelText">
      {{labelText}}
    </span>
    <!-- "Unnamed" label if the element is not a local node and it does not have a label. -->
    <span *ngIf="!isLocalNode && !labelText">
      {{'labeled-element.unnamed-element' | translate}}
    </span>
  </span>
  <br />
  <!-- Id. -->
  <app-truncated-text [short]="short" [showTooltip]="false" [shortTextLength]="shortTextLength" [text]="id"></app-truncated-text>
  <!-- Icon. -->
  &nbsp;<mat-icon [inline]="true">settings</mat-icon>
</div>
