<div class="wrapper highlight-internal-icon"
  [matTooltip]="(!short ? 'labeled-element.tooltip' : 'labeled-element.tooltip-with-text') | translate:{ text: id }"
  [matTooltipClass]="{ 'tooltip-word-break': true }"
  (click)="$event.stopPropagation(); $event.preventDefault(); processClick();"
  >
  <span class="label">
    <!-- Label prefix. -->
    @if (labelComponents && labelComponents.prefix) {
      <span>
        {{labelComponents.prefix | translate}}
      </span>
    }
    <!-- Label prefix separator. -->
    @if (labelComponents && labelComponents.prefixSeparator) {
      <span>
        {{ labelComponents.prefixSeparator }}
      </span>
    }
    <!-- Label. -->
    @if (labelComponents && labelComponents.label) {
      <span>
        {{labelComponents.label}}
      </span>
    }
    @if (labelComponents && labelComponents.translatableLabel) {
      <span>
        {{labelComponents.translatableLabel | translate}}
      </span>
    }
  </span>
  <br />
  <!-- Id. -->
  <app-truncated-text [short]="short" [showTooltip]="false" [shortTextLength]="shortTextLength" [text]="id"></app-truncated-text>
  <!-- Icon. -->
  &nbsp;<mat-icon [inline]="true">settings</mat-icon>
</div>
