@import "variables";
@import "utilities/theme";
@import "fonts";
@import "backgrounds";
@import "~bootstrap/scss/functions";

.mat-menu-panel, mat-dialog-container.mat-dialog-container
{
  border-radius: $mat-dialog-radius !important;

  .mat-dialog-actions {
    padding-bottom: 24px;
  }
}

.mat-dialog-content {
  margin-bottom: -$mat-dialog-padding !important;
  padding-bottom: $mat-dialog-padding !important;
}

app-dialog {
  app-loading-indicator {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
