@import "variables";
@import "text";
@import "~bootstrap/scss/functions";
//
// Input
//

.startup-form
{
  .keypair-component, textarea, .mat-form-field
  {
    width: 100%;
  }

  .mat-list-item
  {
    min-height: 48px;
    height: auto !important;
  }

  .mat-list-item-content
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;

    @extend .font-base;

    &.margin-bottom
    {
      margin-bottom: 20px;
    }

    label
    {
      margin-bottom: 0;
    }
  }

  .submit-btn
  {
    margin-top: 15px;
    float: right;
  }

  .keypair-container
  {
    display: flex;
    flex-direction: column;
  }
}

mat-form-field {
  display: block !important;
}

// White form fields, to be shown with the dark background.
.white-form-field {
  .mat-select-value-text, .mat-form-field-label, .mat-select-value, .mat-select-arrow {
    color: $white !important;
  }

   .mat-form-field-underline {
    background-color: scale-color($white, $alpha: -50%) !important;
  }

  .mat-form-field-ripple {
    background-color: $white !important;
  }

  .mat-input-element {
    caret-color: $white;
  }
}

// Container for the white help icons shown in the forms, to be shown with the dark background.
.form-help-icon-container {
  color: scale-color($white, $alpha: -20%);
  height: 0px;
  text-align: right;
}
