mat-form-field {
  display: block !important;
}

// White form fields, to be shown with the dark background.
.white-form-field {
  color: $white;

  .mat-select-value-text, .mat-form-field-label, .mat-select-value, .mat-select-arrow {
    color: $white !important;
  }

   .mat-form-field-underline {
    background-color: scale-color($white, $alpha: -50%) !important;
  }

  .mat-form-field-ripple {
    background-color: $white !important;
  }

  .mat-input-element {
    caret-color: $white;
  }
}

// Container for the white help icons shown in the forms, to be shown with the dark background.
.form-help-icon-container {
  height: 0px;
  text-align: right;
  color: $blue-medium;
}

.white-form-help-icon-container {
  @extend .form-help-icon-container;
  color: scale-color($white, $alpha: -20%);
}
