@import "bootstrap_overrides";
@import "variables";
@import "~bootstrap/scss/functions";

.error-snack-bar
{
  //background-color: theme-color-level(red, -2) !important;
  //color: theme-color-level(red, 6) !important;

  border-bottom-left-radius: $mat-dialog-radius !important;
  border-bottom-right-radius: $mat-dialog-radius !important;

  .mat-simple-snackbar
  {
    justify-content: center;
  }
}
