@use 'variables';
span {
  overflow-wrap: break-word;
}

.font-sm {
  font-size: variables.$font-size-sm !important;
  font-weight: variables.$font-weight-light !important;
}

.font-smaller {
  font-size: variables.$font-size-smaller !important;
  font-weight: variables.$font-weight-light !important;
}

.uppercase {
  text-transform: uppercase;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.green-text {
  color: variables.$green;
}

.green-clear-text {
  color: variables.$green-clear;
}

.yellow-text {
  color: variables.$yellow;
}

.yellow-clear-text {
  color: variables.$yellow-clear;
}

.red-text {
  color: variables.$red;
}

.red-clear-text {
  color: variables.$red-clear;
}

.grey-text {
  color: variables.$light-gray !important;
}
