span {
  overflow-wrap: break-word;
}

.font-base {
  font-size: $font-size-base !important;
}

.font-sm {
  font-size: $font-size-sm !important;
  font-weight: $font-weight-light !important;
}

.font-smaller {
  font-size: $font-size-smaller !important;
  font-weight: $font-weight-light !important;
}

.font-mini {
  font-size: $font-size-mini !important;
  font-weight: $font-weight-light !important;
}

.uppercase {
  text-transform: uppercase;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.green-text {
  color: $green;
}

.red-text {
  color: $red;
}
