//
// Colors
//

$white: #F8F9F9;
$black: #202226;

$blue-light: #00C3FF;
$blue: #0072FF;
$blue-medium: #215f9e;
$blue-dark: #154B6C;
$blue-dark-Background1: #0e192a;
$blue-dark-Background2: #101f34;

$red: #DA3439;
$green: #2ECC54;
$light-gray: #777;
$lighter-gray: #999;

$modal-background: #e0e5ec;
$modal-separator: scale-color($blue-medium, $alpha: -80%);

$nav-bg: rgba(255, 255, 255, 0.1);

$box-border: rgba(156, 197, 255, 0.33);
$separator: rgba(255, 255, 255, 0.15);
$grey-separator: rgba(0, 0, 0, 0.12);
$white-separator: rgba(255, 255, 255, 0.44);

$theme-colors: (
  green:              $green,
  red:                $red,
  blue-light:         $blue-light,
  blue:               $blue,
  blue-dark:          $blue-dark,
  translucid:         rgba(32, 34, 38, .44),
  translucid-hover:   rgba(0, 0, 0, 0.2),
  translucid-white:   rgba(255, 255, 255, .44),
  translucid-dark:    rgba(21, 75, 108, .91),
  white:              $white,
  white-hover:        darken($white, 2%),
  light-gray:         $light-gray,
  black:              $black,
  yellow:             #CAB862
);

//
// Fonts
//

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);
$font-size-smaller:           ($font-size-base * .8);
$font-size-mini:              ($font-size-base * .70);
$font-size-mini-plus:         ($font-size-base * .60);

$font-weight-light:           lighter;
$font-weight-normal:          400;
$font-weight-bold:            700;

//
// Typography
//

$skywire-font-family: 'Skycoin';

//
// Dialog
//
$mat-dialog-padding: 24px;
$mat-dialog-radius: 10px;

//
// Container
//
$containers-padding: 15px;

//
// Sizes
//
$header-height: 82px;
$header-buttons-height: 40px;
