<app-dialog [headline]="'filters.filter-action' | translate">
  <form [formGroup]="form">
    <!-- Form fields. -->
    <ng-container *ngFor="let fieldParams of data">
      <mat-form-field>
        <!-- Text input. -->
        <input
          *ngIf="fieldParams.type === filterFieldTypes.TextInput"
          [formControlName]="fieldParams.filterKeysAssociation.keyNameInFiltersObject"
          [maxlength]="fieldParams.maxlength"
          [placeholder]="fieldParams.filterKeysAssociation.filterName | translate"
          matInput
        >
        <!-- Select. -->
        <mat-select
          *ngIf="fieldParams.type === filterFieldTypes.Select"
          [formControlName]="fieldParams.filterKeysAssociation.keyNameInFiltersObject"
          [placeholder]="fieldParams.filterKeysAssociation.filterName | translate"
        >
          <mat-option *ngFor="let option of fieldParams.filterKeysAssociation.printableLabelsForValues" [value]="option.value">{{ option.label | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- button. -->
    <app-button
      #button
      (action)="apply()"
      type="mat-raised-button"
      color="primary"
      class="float-right"
    >
      {{ 'common.ok' | translate }}
    </app-button>
  </form>
</app-dialog>
