<app-dialog [headline]="'filters.filter-action' | translate" [dialog]="dialogRef">
  <form [formGroup]="form">
    <!-- Form fields. -->
    @for (fieldParams of data.filterPropertiesList; track fieldParams) {
      <mat-form-field>
        <div class="field-container">
          <label class="field-label" for="remoteKey">{{ fieldParams.filterName | translate }}</label>
          <!-- Text input. -->
          @if (fieldParams.type === filterFieldTypes.TextInput) {
            <input
              [formControlName]="fieldParams.keyNameInFiltersObject"
              [maxlength]="fieldParams.maxlength"
              matInput
              >
          }
          <!-- Select. -->
          @if (fieldParams.type === filterFieldTypes.Select) {
            <mat-select
              [formControlName]="fieldParams.keyNameInFiltersObject"
              >
              @for (option of fieldParams.printableLabelsForValues; track option) {
                <mat-option [value]="option.value">
                  <!-- Option image. -->
                  @if (fieldParams.printableLabelGeneralSettings && option.image) {
                    <div
                      class="image-container"
                [style]="
                  'background-image: url(\'' + fieldParams.printableLabelGeneralSettings.defaultImage + '\'); ' +
                  'width: ' + fieldParams.printableLabelGeneralSettings.imageWidth + 'px; ' +
                  'height: ' + fieldParams.printableLabelGeneralSettings.imageHeight + 'px;'"
                      >
                      <div
                        class="image"
                        [style]="'background-image: url(\'' + option.image + '\');'">
                      </div>
                    </div>
                  }
                  <!-- Option text. -->
                  {{ option.label | translate }}
                </mat-option>
              }
            </mat-select>
          }
        </div>
      </mat-form-field>
    }
  </form>

  <!-- button. -->
  <app-button
    #button
    (action)="apply()"
    color="primary"
    class="float-right"
    >
    {{ 'common.ok' | translate }}
  </app-button>
</app-dialog>
