# Skywire Deployment Environment Template
# Copy this file to .env and fill in the values.
# Generate keypairs with: skywire cli config gen-keys

# Redis
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379

# Address resolver
AR_SECKEY=
AR_HOST=address-resolver
AR_PORT=9093
AR_PPROF=6093

#Config service
CONF_PORT=9082
CONF_PPROF=6082

# DMSG Discovery
DMSGDISC_HOST=dmsg-discovery
DMSGDISC_PORT=9090
DMSGDISC_PPROF=6090
DMSGDISC_SECKEY=
DMSGDISC_OFFICIAL_SERVERS=

# Route Finder
RF_SECKEY=
RF_PORT=9092
RF_PPROF=6092

# Service Discovery
SD_SECKEY=
SD_PORT=9091
SD_PPROF=6091
SD_HOST=service-discovery

# Transport Discovery
TPDISC_HOST=transport-discovery
TPDISC_PORT=9094
TPDISC_PPROF=6094
TPDISC_SECKEY=

# Uptime Tracker
UTTRACKER_HOST=uptime-tracker
UTTRACKER_PORT=9095
UTTRACKER_PPROF=6095
UTTRACKER_SECKEY=
UTTRACKER_API_KEY=

# Monitors
NETWORK_MONITOR_ADDR=9080
NETWORK_MONITOR_PPROF=6080
NETWORK_MONITOR_PUBKEY=
NETWORK_MONITOR_SECKEY=

# GEOIP
GEOIP_PORT=9081
GEOIP_PPROF=6081

# PORTAINER
PORTAINER_PORT=9000

# DMSG Servers
DMSGSERVER_1_PPROF=6071
DMSGSERVER_2_PPROF=6072
DMSGSERVER_3_PPROF=6073
DMSGSERVER_4_PPROF=6074
DMSGSERVER_5_PPROF=6075
DMSGSERVER_6_PPROF=6076
DMSGSERVER_7_PPROF=6077

# Setup-Node
SN_PPROF=6070
