img {
  width: 170px;
  height: auto;
}

span {
  font-size: 12px;
  line-height: 12px;
  display: block;
  margin-left: 60px;
  position: relative;
  top: -5px;
  color: #fff;

  &.center {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
