<app-dialog [headline]="'apps.vpn-socks-client-settings.change-note-dialog.title' | translate" [dialog]="dialogRef">
  <form [formGroup]="form">
    <mat-form-field>
      <input #firstInput [placeholder]="'apps.vpn-socks-client-settings.change-note-dialog.note' | translate" formControlName="note" maxlength="100" matInput>
    </mat-form-field>
  </form>
  <app-button class="float-right" color="primary" type="mat-raised-button" (action)="finish()">{{ 'common.save' | translate }}</app-button>
</app-dialog>
