<!-- Content when loading. -->
<div *ngIf="loading" class="d-flex flex-column h-100 w-100">
  <div>
    <app-top-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="!showDmsgInfo ? 0 : 1"
      [showUpdateButton]="false"
    ></app-top-bar>
  </div>
  <app-loading-indicator class="h-100"></app-loading-indicator>
</div>

<!-- Content when loaded. -->
<div *ngIf="!loading" class="row">
  <div class="col-12">
    <app-top-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="!showDmsgInfo ? 0 : 1"
      [secondsSinceLastUpdate]="secondsSinceLastUpdate" 
      [showLoading]="updating"
      [showAlert]="errorsUpdating"
      [refeshRate]="storageService.getRefreshTime()"
      [optionsData]="options"
      (refreshRequested)="forceDataRefresh(true)"
      (optionSelected)="performAction($event)"
    ></app-top-bar>
  </div>
  <div class="col-12">

    <!-- Header. -->
    <div class="generic-title-container mt-4.5 d-flex" [ngClass]="{'paginator-icons-fixer': numberOfPages > 1}">
      <div class="title">
        <div class="filter-label subtle-transparent-button cursor-pointer" (click)="dataFilterer.removeFilters()" *ngIf="dataFilterer.currentFiltersTexts && dataFilterer.currentFiltersTexts.length > 0">
          <div *ngFor="let filterTexts of dataFilterer.currentFiltersTexts" class="item">
            <span>{{ filterTexts.filterName | translate }}: </span>
            <ng-container *ngIf="filterTexts.translatableValue">{{ filterTexts.translatableValue | translate }}</ng-container>
            <ng-container *ngIf="filterTexts.value">{{ filterTexts.value }}</ng-container>
          </div>
          <div class="transparent-50">{{ 'filters.press-to-remove' | translate }}</div>
        </div>
      </div>
      <div class="options">
        <div class="options-container">
          <mat-icon
            [inline]="true"
            (click)="dataFilterer.changeFilters()"
            [matTooltip]="'filters.filter-action' | translate"
            class="small-icon"
            *ngIf="allNodes && allNodes.length > 0"
          >filter_list</mat-icon>
          <mat-icon
            [matMenuTriggerFor]="selectionMenu"
            *ngIf="dataSource.length > 0"
          >more_horiz</mat-icon>
          <mat-menu #selectionMenu="matMenu" [overlapTrigger]="false">
            <div mat-menu-item disabled="{{ !hasOfflineNodes }}" (click)="removeOffline()">
              {{ 'nodes.delete-all-offline' | translate }}
            </div>
          </mat-menu>
        </div>
        <!-- Upper paginator. -->
        <app-paginator
          *ngIf="numberOfPages > 1"
          [currentPage]="currentPage"
          [numberOfPages]="numberOfPages"
          [linkParts]="!showDmsgInfo ? ['/nodes', 'list'] : ['/nodes', 'dmsg']"
          [queryParams]="dataFilterer.currentUrlQueryParams">
        </app-paginator>
      </div>
    </div>

    <div class="rounded-elevated-box mt-3" *ngIf="dataSource.length !== 0"><div class="box-internal-container overflow full-node-list-margins">
      <!-- Table for large screens. -->
      <table
        class="responsive-table-translucid d-none d-md-table"
        *ngIf="dataSource.length > 0"
        cellspacing="0" cellpadding="0"
      >
        <!-- Column names. -->
        <tr>
          <th class="sortable-column small-column" (click)="dataSorter.changeSortingOrder(hypervisorSortData)" [matTooltip]="'nodes.hypervisor' | translate">
            <mat-icon class="hypervisor-icon gray-text">star_outline</mat-icon>
            <mat-icon *ngIf="dataSorter.currentSortingColumn === hypervisorSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column small-column" (click)="dataSorter.changeSortingOrder(stateSortData)" [matTooltip]="'nodes.state-tooltip' | translate">
            <span class="dot-outline-gray"></span>
            <mat-icon *ngIf="dataSorter.currentSortingColumn === stateSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column labels" (click)="dataSorter.changeSortingOrder(labelSortData)">
            {{ 'nodes.label' | translate }}
            <mat-icon *ngIf="dataSorter.currentSortingColumn === labelSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column" (click)="dataSorter.changeSortingOrder(keySortData)">
            {{ 'nodes.key' | translate }}
            <mat-icon *ngIf="dataSorter.currentSortingColumn === keySortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          </th>
          <th *ngIf="showDmsgInfo" class="sortable-column" (click)="dataSorter.changeSortingOrder(dmsgServerSortData)">
            {{ 'nodes.dmsg-server' | translate }}
            <ng-container *ngIf="dataSorter.currentSortingColumn === dmsgServerSortData">
              <mat-icon [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
              <ng-container *ngIf="dataSorter.currentlySortingByLabel">*</ng-container>
            </ng-container>
          </th>
          <th *ngIf="showDmsgInfo" class="sortable-column" (click)="dataSorter.changeSortingOrder(pingSortData)">
            {{ 'nodes.ping' | translate }}
            <mat-icon *ngIf="dataSorter.currentSortingColumn === pingSortData" [inline]="true">{{ dataSorter.sortingArrow }}</mat-icon>
          </th>
          <th class="actions"></th>
        </tr>

        <!-- Values. -->
        <tr *ngFor="let node of dataSource" (click)="open(node)" class="selectable">
          <td>
            <mat-icon *ngIf="node.isHypervisor" class="hypervisor-icon" [inline]="true" [matTooltip]="'nodes.hypervisor-info' | translate">star</mat-icon>
          </td>
          <td>
            <span [class]="nodeStatusClass(node, true)" [matTooltip]="nodeStatusText(node, true) | translate"></span>
          </td>
          <td>
            {{ node.label }}
          </td>
          <td>
            {{ node.localPk }}
          </td>
          <td *ngIf="showDmsgInfo">
            <app-labeled-element-text
              *ngIf="node.dmsgServerPk"
              [short]="true"
              id="{{ node.dmsgServerPk }}"
              shortTextLength="4"
              (labelEdited)="forceDataRefresh()"
              [elementType]="labeledElementTypes.DmsgServer">
            </app-labeled-element-text>
          </td>
          <td *ngIf="showDmsgInfo">
            <ng-container *ngIf="node.dmsgServerPk">
              {{ 'common.time-in-ms' | translate:{ time: node.roundTripPing } }}
            </ng-container>
          </td>
          <td (click)="$event.stopPropagation()" class="actions">
            <button
              (click)="copyToClipboard(node)"
              mat-icon-button
              [matTooltip]="(showDmsgInfo ? 'nodes.copy-data' : 'nodes.copy-key') | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">filter_none</mat-icon>
            </button>
            <button
              (click)="showEditLabelDialog(node)"
              mat-icon-button
              [matTooltip]="'labeled-element.edit-label' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">short_text</mat-icon>
            </button>
            <button
              *ngIf="node.online"
              (click)="open(node)"
              mat-icon-button
              [matTooltip]="'nodes.view-node' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">chevron_right</mat-icon>
            </button>
            <button
              *ngIf="!node.online"
              (click)="deleteNode(node)"
              mat-icon-button
              [matTooltip]="'nodes.delete-node' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </tr>
      </table>

      <!-- List for small screens. -->
      <table
        class="responsive-table-translucid d-md-none nowrap"
        *ngIf="dataSource.length > 0"
        cellspacing="0" cellpadding="0"
      >
        <!-- Sorting button. -->
        <tr class="selectable" (click)="dataSorter.openSortingOrderModal()"><td>
          <div class="list-item-container">
            <div class="left-part">
              <div class="title">{{ 'tables.sorting-title' | translate }}</div>
              <div>{{ dataSorter.currentSortingColumn.label | translate }}
                <ng-container *ngIf="dataSorter.currentlySortingByLabel">{{ 'tables.label' | translate }}</ng-container>
                <ng-container *ngIf="dataSorter.sortingInReverseOrder">{{ 'tables.inverted-order' | translate }}</ng-container>
              </div>
            </div>
            <div class="right-part">
              <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </td></tr>
        <!-- Values. -->
        <tr *ngFor="let node of dataSource" (click)="open(node)" class="selectable"><td>
          <div class="list-item-container">
            <div class="left-part">
              <div class="list-row" *ngIf="node.isHypervisor">
                <mat-icon class="hypervisor-icon" [inline]="true">star</mat-icon>&nbsp;
                <span class="yellow-clear-text title">{{ 'nodes.hypervisor' | translate }}</span>
              </div>
              <div class="list-row">
                <span class="title">{{ 'nodes.state' | translate }}</span>:
                <span [class]="nodeStatusClass(node, false) + ' title'">{{ nodeStatusText(node, false) | translate }}</span>
              </div>
              <div class="list-row">
                <span class="title">{{ 'nodes.label' | translate }}</span>:
                {{ node.label }}
              </div>
              <div class="list-row long-content">
                <span class="title">{{ 'nodes.key' | translate }}</span>:
                {{ node.localPk }}
              </div>
              <div class="list-row long-content" *ngIf="showDmsgInfo">
                <span class="title">{{ 'nodes.dmsg-server' | translate }}</span>:
                <app-labeled-element-text
                  id="{{ node.dmsgServerPk }}"
                  (labelEdited)="forceDataRefresh()"
                  [elementType]="labeledElementTypes.DmsgServer">
                </app-labeled-element-text>
              </div>
              <div class="list-row" *ngIf="showDmsgInfo">
                <span class="title">{{ 'nodes.ping' | translate }}</span>:
                {{ 'common.time-in-ms' | translate:{ time: node.roundTripPing } }}
              </div>
            </div>
            <div class="margin-part"></div>
            <div class="right-part">
              <button
                (click)="$event.stopPropagation(); showOptionsDialog(node)"
                mat-icon-button
                [matTooltip]="'common.options' | translate"
                class="transparent-button"
              >
                <mat-icon>{{ 'add' }}</mat-icon>
              </button>
            </div>
          </div>
        </td></tr>
      </table>
    </div></div>

    <!-- Lower paginator. -->
    <app-paginator
      *ngIf="numberOfPages > 1"
      [currentPage]="currentPage"
      [numberOfPages]="numberOfPages"
      [linkParts]="!showDmsgInfo ? ['/nodes', 'list'] : ['/nodes', 'dmsg']"
      [queryParams]="dataFilterer.currentUrlQueryParams">
    </app-paginator>

    <!-- Msg shown if the list is empty. -->
    <div class="rounded-elevated-box mt-3" *ngIf="dataSource.length === 0">
      <div class="box-internal-container font-sm">
        <mat-icon [inline]="true" class="alert-icon">warning</mat-icon>
        <span class="font-sm" *ngIf="allNodes.length === 0">{{ 'nodes.empty' | translate }}</span>
        <span class="font-sm" *ngIf="allNodes.length !== 0">{{ 'nodes.empty-with-filter' | translate }}</span>
      </div>
    </div>
  </div>
</div>
