@import "variables";
@import "text";
@import "utilities/theme";
@import "~bootstrap/scss/functions";
@import "bootstrap_overrides";

.node-list-container {
  width: 100%;
  overflow-x: auto;

  table, .nodes-empty {
    box-shadow: none !important;
  }

  .nodes-empty {
    color: theme-color(light-gray);
    @extend .font-size-sm;

    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    span {
      position: relative;
      top: 2px;
    }
  }
}

.responsive-table-white {
  @media (max-width: map-get($grid-breakpoints, md)) {
    & {
      padding: 0;
    }
  }

  .actions {
    text-align: right;
    width: 110px;
  
    button {
      width: 32px;
      height: 32px;
      line-height: 24px;
  
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

.list-item-container {
  display: flex;
  padding: 10px 15px;
  padding-right: 0px;

  .left-part {
    flex-grow: 1;
  }

  .right-part {
    width: 60px;

    button {
      width: 60px;
      height: 60px;
    }
  }
}

.green-text {
  color: $green;
}

.reed-text {
  color: $red;
}
