<div *ngIf="loading" class="flex-column full-height full-width">
  <div>
    <app-tab-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="0"
      [showUpdateButton]="false"
    ></app-tab-bar>
  </div>
  <app-loading-indicator class="full-height"></app-loading-indicator>
</div>
<div *ngIf="!loading" class="row">
  <div class="col-12">
    <app-tab-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="0"
      [secondsSinceLastUpdate]="secondsSinceLastUpdate" 
      [showLoading]="updating"
      [showAlert]="errorsUpdating"
      [refeshRate]="storageService.getRefreshTime()"
      (refreshRequested)="refresh(0)"
    ></app-tab-bar>
  </div>
  <div class="col-12">
    <div class="node-list-container mt-4.5">
      <table
        class="responsive-table-white container-elevated-white d-none d-md-table"
        *ngIf="dataSource.data.length > 0"
        cellspacing="0" cellpadding="0"
      >

        <tr>
          <th></th>
          <th class="sortable-column" (click)="changeSortingOrder(sortableColumns.Label)">
            {{ 'nodes.label' | translate }}
            <mat-icon *ngIf="sortBy === sortableColumns.Label" [inline]="true">{{ sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column" (click)="changeSortingOrder(sortableColumns.Key)">
            {{ 'common.key' | translate }}
            <mat-icon *ngIf="sortBy === sortableColumns.Key" [inline]="true">{{ sortingArrow }}</mat-icon>
          </th>
          <th class="actions"></th>
        </tr>

        <tr *ngFor="let node of dataSource.data" (click)="open(node)" class="selectable">
          <td>
            <span [class]="nodeStatusClass(node, true)" [matTooltip]="nodeStatusText(node, true) | translate"></span>
          </td>
          <td>
            {{ node.label }}
          </td>
          <td>
            {{ node.local_pk }}
          </td>
          <td (click)="$event.stopPropagation()" class="actions">
            <button (click)="showEditLabelDialog(node)" mat-icon-button [matTooltip]="'edit-label.title' | translate">
              <mat-icon>short_text</mat-icon>
            </button>
            <button
              *ngIf="node.online"
              (click)="open(node)"
              mat-icon-button
              [matTooltip]="'nodes.view-node' | translate"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button
              *ngIf="!node.online"
              (click)="deleteNode(node)"
              mat-icon-button
              [matTooltip]="'nodes.delete-node' | translate"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </tr>
      </table>

      <table
        class="responsive-table-white container-elevated-white d-md-none nowrap"
        *ngIf="dataSource.data.length > 0"
        cellspacing="0" cellpadding="0"
      >
        <tr *ngFor="let node of dataSource.data" (click)="open(node)" class="selectable full-box"><td>
          <div class="list-item-container">
            <div class="left-part">
              <div class="list-row">
                <span class="title">{{ 'nodes.state' | translate }}</span>:
                <span [class]="nodeStatusClass(node, false) + ' title'">{{ nodeStatusText(node, false) | translate }}</span>
              </div>
              <div class="list-row">
                <span class="title">{{ 'nodes.label' | translate }}</span>:
                {{ node.label }}
              </div>
              <div class="list-row">
                <span class="title">{{ 'common.key' | translate }}</span>:
                {{ node.local_pk }}
              </div>
            </div>
            <div class="right-part">
              <button (click)="$event.stopPropagation(); showEditLabelDialog(node)" mat-icon-button [matTooltip]="'edit-label.title' | translate">
                <mat-icon>short_text</mat-icon>
              </button>
            </div>
          </div>
        </td></tr>
      </table>

      <div class="nodes-empty container-elevated-white" *ngIf="dataSource.data.length === 0">
        <i class="material-icons">warning</i>
        <span>{{ 'nodes.empty' | translate }}</span>
      </div>
    </div>
  </div>
</div>
