<!-- Content when loading. -->
<div *ngIf="loading" class="flex-column h-100 w-100">
  <div>
    <app-tab-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="0"
      [showUpdateButton]="false"
    ></app-tab-bar>
  </div>
  <app-loading-indicator class="h-100"></app-loading-indicator>
</div>

<!-- Content when loaded. -->
<div *ngIf="!loading" class="row">
  <div class="col-12">
    <app-tab-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="0"
      [secondsSinceLastUpdate]="secondsSinceLastUpdate" 
      [showLoading]="updating"
      [showAlert]="errorsUpdating"
      [refeshRate]="storageService.getRefreshTime()"
      (refreshRequested)="refresh(0, true)"
    ></app-tab-bar>
  </div>
  <div class="col-12">
    <div class="rounded-elevated-box mt-4.5" *ngIf="dataSource.length !== 0"><div class="box-internal-container overflow full-node-list-margins">
      <!-- Table for large screens. -->
      <table
        class="responsive-table-translucid d-none d-md-table"
        *ngIf="dataSource.length > 0"
        cellspacing="0" cellpadding="0"
      >
        <!-- Column names. -->
        <tr>
          <th class="sortable-column" (click)="changeSortingOrder(sortableColumns.State)" [matTooltip]="'nodes.state-tooltip' | translate">
            <span class="dot-outline-gray"></span>
            <mat-icon *ngIf="sortBy === sortableColumns.State" [inline]="true">{{ sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column" (click)="changeSortingOrder(sortableColumns.Label)">
            {{ 'nodes.label' | translate }}
            <mat-icon *ngIf="sortBy === sortableColumns.Label" [inline]="true">{{ sortingArrow }}</mat-icon>
          </th>
          <th class="sortable-column" (click)="changeSortingOrder(sortableColumns.Key)">
            {{ 'nodes.key' | translate }}
            <mat-icon *ngIf="sortBy === sortableColumns.Key" [inline]="true">{{ sortingArrow }}</mat-icon>
          </th>
          <th class="actions"></th>
        </tr>

        <!-- Values. -->
        <tr *ngFor="let node of dataSource" (click)="open(node)" class="selectable">
          <td>
            <span [class]="nodeStatusClass(node, true)" [matTooltip]="nodeStatusText(node, true) | translate"></span>
          </td>
          <td>
            {{ node.label }}
          </td>
          <td>
            {{ node.local_pk }}
          </td>
          <td (click)="$event.stopPropagation()" class="actions">
            <button
              [clipboard]="node.local_pk"
              (copyEvent)="onCopyToClipboardClicked()"
              mat-icon-button
              [matTooltip]="'nodes.copy-key' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">filter_none</mat-icon>
            </button>
            <button
              (click)="showEditLabelDialog(node)"
              mat-icon-button
              [matTooltip]="'edit-label.title' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">short_text</mat-icon>
            </button>
            <button
              *ngIf="node.online"
              (click)="open(node)"
              mat-icon-button
              [matTooltip]="'nodes.view-node' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon [inline]="true">chevron_right</mat-icon>
            </button>
            <button
              *ngIf="!node.online"
              (click)="deleteNode(node)"
              mat-icon-button
              [matTooltip]="'nodes.delete-node' | translate"
              class="big-action-button transparent-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </tr>
      </table>

      <!-- List for small screens. -->
      <table
        class="responsive-table-translucid d-md-none nowrap"
        *ngIf="dataSource.length > 0"
        cellspacing="0" cellpadding="0"
      >
        <!-- Sorting button. -->
        <tr class="selectable" (click)="openSortingOrderModal()"><td>
          <div class="list-item-container">
            <div class="left-part">
              <div class="title">{{ 'tables.sorting-title' | translate }}</div>
              <div>{{ sortBy | translate }}
                {{ (!sortReverse ? 'tables.ascending-order' : 'tables.descending-order') | translate }}
              </div>
            </div>
            <div class="right-part">
              <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </td></tr>
        <!-- Values. -->
        <tr *ngFor="let node of dataSource" (click)="open(node)" class="selectable"><td>
          <div class="list-item-container">
            <div class="left-part">
              <div class="list-row">
                <span class="title">{{ 'nodes.state' | translate }}</span>:
                <span [class]="nodeStatusClass(node, false) + ' title'">{{ nodeStatusText(node, false) | translate }}</span>
              </div>
              <div class="list-row">
                <span class="title">{{ 'nodes.label' | translate }}</span>:
                {{ node.label }}
              </div>
              <div class="list-row long-content">
                <span class="title">{{ 'nodes.key' | translate }}</span>:
                {{ node.local_pk }}
              </div>
            </div>
            <div class="margin-part"></div>
            <div class="right-part">
              <button
                (click)="$event.stopPropagation(); showOptionsDialog(node)"
                mat-icon-button
                [matTooltip]="'common.options' | translate"
                class="transparent-button"
              >
                <mat-icon>{{ 'add' }}</mat-icon>
              </button>
            </div>
          </div>
        </td></tr>
      </table>
    </div></div>

    <!-- Msg shown if the list is empty. -->
    <div class="rounded-elevated-box mt-3" *ngIf="dataSource.length === 0">
      <div class="box-internal-container font-sm">
        <mat-icon [inline]="true" class="alert-icon">warning</mat-icon>
        <span>{{ 'nodes.empty' | translate }}</span>
      </div>
    </div>
  </div>
</div>
