<app-dialog [headline]="'vpn.server-list.password-dialog.title' | translate" [dialog]="dialogRef">
  <form [formGroup]="form">
    <!-- Password field. -->
    <mat-form-field>
      <div class="field-container">
        <label class="field-label" for="remoteKey">{{ ('vpn.server-list.password-dialog.password' + (data ? '-if-any' : '') + '-label') | translate }}</label>
        <input
          formControlName="password"
          type="password"
          #firstInput
          matInput
        >
      </div>
    </mat-form-field>
  </form>

  <!-- Button. -->
  <app-button
    (action)="process()"
    [disabled]="!form.valid"
    color="primary"
    class="float-right"
  >
    {{ 'vpn.server-list.password-dialog.continue-button' | translate }}
  </app-button>
</app-dialog>
