<app-dialog [headline]="'vpn.server-list.password-dialog.title' | translate">
  <form [formGroup]="form">
    <!-- Password field. -->
    <mat-form-field>
      <input
        formControlName="password"
        [placeholder]="('vpn.server-list.password-dialog.password' + (data ? '-if-any' : '') + '-label') | translate"
        type="password"
        #firstInput
        matInput
      >
    </mat-form-field>
  </form>

  <!-- Button. -->
  <app-button
    (action)="process()"
    [disabled]="!form.valid"
    color="primary"
    class="float-right"
  >
    {{ 'vpn.server-list.password-dialog.continue-button' | translate }}
  </app-button>
</app-dialog>
