<div class="main-container">
  <!-- Title text, with the path. -->
  <div class="title">
    <span *ngFor="let titlePart of titleParts; let i = index" [ngClass]="{'old': i !== titleParts.length - 1}">
      {{ titlePart | translate }}
      <span *ngIf="i !== titleParts.length - 1" class="separator">/</span>
    </span>
  </div>

  <div class="lower-container">
    <!-- Tabs list. Only shown on large screens or if there is only one tab. -->
    <div
      *ngFor="let tabData of tabsData; let i = index"
      [ngClass]="{'d-lg-none': tabData.onlyIfLessThanLg, 'd-none d-md-inline-block': tabsData.length !== 1}"
    >
      <a
        mat-button
        class="tab-button white-theme"
        [disabled]="i === selectedTabIndex"
        [routerLink]="tabData.linkParts"
        [ngClass]="{'mouse-disabled' : disableMouse, 'grey-button-background' : !disableMouse && i !== selectedTabIndex}"
      >
        <mat-icon [inline]="true">{{ tabData.icon }}</mat-icon>
        <span>{{ tabData.label | translate }}</span>
      </a>
    </div>
    <!-- Select tab button. Only shown on small screens when there is only one tab. -->
    <div class="d-md-none" [ngClass]="{'d-none': tabsData.length === 1}" *ngIf="tabsData && tabsData[selectedTabIndex]">
      <button
        mat-button
        class="tab-button select-tab-button white-theme"
        [ngClass]="{'mouse-disabled' : disableMouse, 'grey-button-background' : !disableMouse}"
        (click)="openTabSelector()"
      >
        <mat-icon [inline]="true">{{ tabsData[selectedTabIndex].icon }}</mat-icon>
        <span>{{ tabsData[selectedTabIndex].label | translate }}</span>
        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="blank-space"></div>
    <!-- Right buttons area. -->
    <div>
      <app-refresh-button
        *ngIf="showUpdateButton"
        [secondsSinceLastUpdate]="secondsSinceLastUpdate"
        [showLoading]="showLoading"
        [showAlert]="showAlert"
        [refeshRate]="refeshRate"
        (click)="sendRefreshEvent()"
      ></app-refresh-button>
      <!-- Language button only for small screens. -->
      <app-lang-button *ngIf="!hideLanguageButton" class="d-none d-lg-inline"></app-lang-button>
    </div>
  </div>
</div>
