<div class="main-container">
  <div class="title">
    <span *ngFor="let titlePart of titleParts; let i = index" [ngClass]="{'old': i !== titleParts.length - 1}">
      {{ titlePart | translate }}
      <span *ngIf="i !== titleParts.length - 1" class="separator">/</span>
    </span>
  </div>
  <div class="lower-container">
    <div
      *ngFor="let tabData of tabsData; let i = index"
      class="button-container d-none d-md-inline-block"
      [ngClass]="{'d-xl-none': tabData.notInXl}"
    >
      <a
        mat-button
        class="tab-button white-theme"
        [disabled]="i === selectedTabIndex"
        [disableRipple]="true"
        [routerLink]="tabData.linkParts"
        replaceUrl
        [ngClass]="{'mouse-disabled' : disableMouse, 'grey-button-background' : !disableMouse && i !== selectedTabIndex}"
        >
        <mat-icon [inline]="true">{{ tabData.icon }}</mat-icon>
        <span>{{ tabData.label | translate }}</span>
      </a>
    </div>
    <div class="button-container d-md-none">
      <button
        mat-button
        class="tab-button full-opacity white-theme"
        [disableRipple]="true"
        [ngClass]="{'mouse-disabled' : disableMouse, 'grey-button-background' : !disableMouse}"
        (click)="openTabSelector()"
        >
        <mat-icon [inline]="true">{{ tabsData[selectedTabIndex].icon }}</mat-icon>
        <span>{{ tabsData[selectedTabIndex].label | translate }}</span>
        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="blank-space"></div>
    <div>
      <app-refresh-button
        *ngIf="showUpdateButton"
        [secondsSinceLastUpdate]="secondsSinceLastUpdate"
        [showLoading]="showLoading"
        [showAlert]="showAlert"
        [refeshRate]="refeshRate"
        (click)="sendRefreshEvent()"
      ></app-refresh-button>
      <app-lang-button *ngIf="!hideLanguageButton" class="d-none d-lg-inline"></app-lang-button>
    </div>
  </div>
</div>
