@import "variables";
@import "bootstrap_overrides";

.time-button {
  color: $white;
  border-radius: $mat-dialog-radius;
  height: $header-buttons-height;

  &[disabled] {
    opacity: 0.7 !important;
    color: $white;

    span {
      // In combination with the previous opacity value, this makes the text even more transparent.
      opacity: 0.7;
    }
  }

  .icon {
    font-size: 16px;
    margin-right: 5px;
    opacity: 0.5;
    display: inline-block;

    @media (max-width: (map-get($grid-breakpoints, md) - 1)) {
      & {
        font-size: 22px;
        margin-right: 0;
        opacity: 0.75;
      }
    }
  }

  .alert {
    color: orange;
    opacity: 1;
  }

  span {
    font-size: $font-size-mini-plus;
  }
}
