@use "sass:map";
@use "variables";
@use "bootstrap_overrides";

.time-button {
  color: variables.$white;
  border-radius: variables.$mat-dialog-radius;
  height: variables.$header-buttons-height;

  &[disabled] {
    opacity: 0.7 !important;
    color: variables.$white;

    span {
      // In combination with the previous opacity value, this makes the text even more transparent.
      opacity: 0.7;
    }
  }

  .internal-container {
    display: flex;
    align-items: center;
  }

  .icon {
    font-size: 16px;
    margin-right: 5px;
    opacity: 0.5;
    display: inline-block;

    @media (max-width: (map.get(bootstrap_overrides.$grid-breakpoints, md) - 1)) {
      & {
        font-size: 22px;
        margin-right: 0;
        opacity: 0.75;
      }
    }
  }

  .alert {
    color: orange;
    opacity: 1;
  }

  span {
    font-size: variables.$font-size-mini-plus;
  }
}
