<div class="row">
  <div class="col-12">
    <app-top-bar
      [titleParts]="['start.title']"
      [tabsData]="tabsData"
      [selectedTabIndex]="9"
      [showUpdateButton]="false"
      [optionsData]="options"
      (optionSelected)="performAction($event)"
    ></app-top-bar>
  </div>
  <div class="content col-12 mt-4.5">
    <app-refresh-rate class="d-block mb-4"></app-refresh-rate>

    <div class="d-flex align-items-center mb-4">
      <mat-slide-toggle
        color="primary"
        [checked]="showVisorSwitcherRow"
        (change)="setShowVisorSwitcherRow($event.checked)"
      >{{ 'settings.visor-switcher-row.label' | translate }}</mat-slide-toggle>
      <mat-icon [inline]="true" class="info-tip ml-2" [matTooltip]="'settings.visor-switcher-row.info' | translate">info</mat-icon>
    </div>

    @if (autoUpdateAvailable) {
      <div class="d-flex align-items-center mb-4">
        <mat-slide-toggle
          color="primary"
          [checked]="autoUpdateEnabled"
          (change)="setAutoUpdate($event.checked)"
        >{{ 'settings.auto-update.label' | translate }}</mat-slide-toggle>
        <mat-icon [inline]="true" class="info-tip ml-2" [matTooltip]="'settings.auto-update.info' | translate">info</mat-icon>
      </div>
    }

    @if (reloadWorkerAvailable) {
      <div class="d-flex align-items-center mb-4">
        <button mat-raised-button color="primary" (click)="reloadWorker()">
          <mat-icon [inline]="true">refresh</mat-icon>
          {{ 'settings.reload-worker.label' | translate }}
        </button>
        <mat-icon [inline]="true" class="info-tip ml-2" [matTooltip]="'settings.reload-worker.info' | translate">info</mat-icon>
      </div>
    }

    @if (authChecked && authActive) {
      <app-password></app-password>
    }
    @if (!authChecked && !waitBeforeShowingLoading) {
      <div class="white-theme checking-container">
        <mat-spinner [diameter]="11"></mat-spinner> {{ 'settings.checking-auth' | translate }}
      </div>
    }

    <app-label-list
      [showShortList]="true">
    </app-label-list>
    <!-- TODO: must be removed, with the text, if the old updater is removed.
    <div class="d-block mt-4" *ngIf="!mustShowUpdaterSettings" (click)="showUpdaterSettings()">
      <span class="show-link">{{ 'settings.updater-config.open-link' | translate }}</span>
    </div>
    <app-updater-config class="d-block mt-4" *ngIf="mustShowUpdaterSettings"></app-updater-config>
    -->
  </div>
</div>
