@import "variables";

.checking-container {
  font-size: 10px;
  opacity: 0.5;

  .mat-mdc-progress-spinner {
    display: inline-block;
  }
}

.show-link {
  cursor: pointer;
  font-size: $font-size-smaller;
}
