// Solid circles
$dot-icons: (
  green: theme-color(green),
  red: theme-color(red),
  yellow: theme-color(yellow),
);

$dot-size:    10px;
$dot-size-sm: 7px;

@each $color-name, $color-value in $dot-icons
{
  .dot-#{$color-name}
  {
    height: $dot-size;
    width: $dot-size;
    background-color: $color-value;
    border-radius: 50%;
    display: inline-block;

    &.sm
    {
      height: $dot-size-sm;
      width: $dot-size-sm;
    }
  }
}

// Circle outlines
$outlines: (
  white: theme-color(white),
  gray: theme-color(light-gray)
);

@each $color-name, $color-value in $outlines
{
  .dot-outline-#{$color-name}
  {
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
    border: solid 1px $color-value;
    display: inline-block;

    &.sm
    {
      height: $dot-size-sm;
      width: $dot-size-sm;
    }
  }
}
