<app-dialog
  [headline]="('apps.vpn-socks-server-settings.' + ( configuringVpn ? 'vpn-title' : 'socks-title')) | translate"
>
  <form [formGroup]="form">
    <mat-form-field>
      <input
        id="password"
        type="password"
        formControlName="password"
        maxlength="100"
        [placeholder]="'apps.vpn-socks-server-settings.new-password' | translate"
        #firstInput
        matInput
      >
    </mat-form-field>
    <mat-form-field>
      <input
        id="passwordConfirmation"
        type="password"
        formControlName="passwordConfirmation"
        maxlength="100"
        [placeholder]="'apps.vpn-socks-server-settings.repeat-password' | translate"
        #firstInput
        matInput
      >
      <mat-error>
        {{ 'apps.vpn-socks-server-settings.passwords-not-match' | translate }}
      </mat-error>
    </mat-form-field>
    <div class="main-theme settings-option" *ngIf="configuringVpn">
      <mat-checkbox
        color="primary"
        [checked]="secureMode"
        (change)="setSecureMode($event)"
      >
        {{ 'apps.vpn-socks-server-settings.secure-mode-check' | translate }}
        <mat-icon [inline]="true" class="help-icon" [matTooltip]="'apps.vpn-socks-server-settings.secure-mode-info' | translate">help</mat-icon>
      </mat-checkbox>
    </div>
  </form>

  <app-button
    #button
    (action)="saveChanges()"
    [disabled]="!form.valid"
    color="primary"
    class="float-right"
  >
    {{ 'apps.vpn-socks-server-settings.save' | translate }}
  </app-button>
</app-dialog>
