<app-dialog
  [headline]="('apps.vpn-socks-server-settings.' + ( configuringVpn ? 'vpn-title' : 'socks-title')) | translate"
>
  <form [formGroup]="form">
    <mat-form-field>
      <input
        id="password"
        type="password"
        formControlName="password"
        maxlength="100"
        [placeholder]="'apps.vpn-socks-server-settings.new-password' | translate"
        #firstInput
        matInput
      >
    </mat-form-field>
    <mat-form-field>
      <input
        id="passwordConfirmation"
        type="password"
        formControlName="passwordConfirmation"
        maxlength="100"
        [placeholder]="'apps.vpn-socks-server-settings.repeat-password' | translate"
        #firstInput
        matInput
      >
      <mat-error>
        {{ 'apps.vpn-socks-server-settings.passwords-not-match' | translate }}
      </mat-error>
    </mat-form-field>

    <app-button
      #button
      (action)="saveChanges()"
      [disabled]="!form.valid"
      color="primary"
      class="float-right"
    >
      {{ 'apps.vpn-socks-server-settings.save' | translate }}
    </app-button>
  </form>
</app-dialog>
