.server-condition-icon {
  font-size: 14px !important;
  line-height: 14px !important;
  margin-right: 3px;
  position: relative;
  width: 14px !important;
  user-select: none;
  cursor: default;
}

.small-text-icon {
  top: 2px;
}

.big-text-icon {
  top: 0px;
}

.name-separator {
  display: inline !important;
  font-size: 8px !important;
  opacity: 0.5 !important;
}
