<!-- Condition icons. -->
@if (isCurrentServer) {
  <mat-icon
    class="server-condition-icon"
    [ngClass]="{'small-text-icon': !adjustIconsForBigText, 'big-text-icon': adjustIconsForBigText}"
    [inline]="true"
    [matTooltip]="'vpn.server-conditions.selected-info' | translate"
  >done</mat-icon>
}
@if (isBlocked) {
  <mat-icon
    class="server-condition-icon red-clear-text"
    [ngClass]="{'small-text-icon': !adjustIconsForBigText, 'big-text-icon': adjustIconsForBigText}"
    [inline]="true"
    [matTooltip]="'vpn.server-conditions.blocked-info' | translate"
  >clear</mat-icon>
}
@if (isFavorite) {
  <mat-icon
    class="server-condition-icon yellow-clear-text"
    [ngClass]="{'small-text-icon': !adjustIconsForBigText, 'big-text-icon': adjustIconsForBigText}"
    [inline]="true"
    [matTooltip]="'vpn.server-conditions.favorite-info' | translate"
  >star</mat-icon>
}
@if (isInHistory) {
  <mat-icon
    class="server-condition-icon"
    [ngClass]="{'small-text-icon': !adjustIconsForBigText, 'big-text-icon': adjustIconsForBigText}"
    [inline]="true"
    [matTooltip]="'vpn.server-conditions.history-info' | translate"
  >history</mat-icon>
}
@if (hasPassword) {
  <mat-icon
    class="server-condition-icon"
    [ngClass]="{'small-text-icon': !adjustIconsForBigText, 'big-text-icon': adjustIconsForBigText}"
    [inline]="true"
    [matTooltip]="'vpn.server-conditions.has-password-info' | translate"
  >lock_outlined</mat-icon>
}
<!-- Name. -->
@if (customName && name && (!pk || name !== pk)) {
  {{ customName }}
  <mat-icon [inline]="true" class="name-separator">fiber_manual_record</mat-icon>
  {{ name }}
}
@if ((!name || (pk && name === pk)) && customName) {
  {{ customName }}
}
@if (name && (!pk || name !== pk) && !customName) {
  {{ name }}
}
@if ((!name || (pk && name === pk)) && !customName) {
  {{ defaultName | translate }}
}
