.title-container {
  padding-right: 5px;

  .title {
    margin-right: auto;
  }

  mat-icon {
    margin-right: 15px;
  }
}

.text {
  font-size: 14px;
  font-weight: 300;
}

.selection-col {
  width: 30px;
}
