<app-dialog [headline]="'tabs-window.title' | translate">
  <mat-dialog-content>
    <div class="button-container" *ngFor="let tabData of data; let i = index">
      <button
        mat-button
        [disableRipple]="true"
        class="grey-button-background"
        (click)="closePopup(i)"
        >
        <div class="internal-ontainer">
          <mat-icon [inline]="true">{{ tabData.icon }}</mat-icon>
          <span>{{ tabData.label | translate }}</span>
        </div>
      </button>
    </div>
  </mat-dialog-content>
</app-dialog>
