<app-dialog [headline]="'tabs-window.title' | translate" [includeVerticalMargins]="false">
  <div class="options-list-button-container" *ngFor="let tabData of data; let i = index">
    <button
      mat-button
      class="grey-button-background"
      (click)="closePopup(i)"
      [ngClass]="{'d-xl-none': tabData.notInXl}"
    >
      <div class="internal-container">
        <mat-icon [inline]="true">{{ tabData.icon }}</mat-icon>
        <span>{{ tabData.label | translate }}</span>
      </div>
    </button>
  </div>
</app-dialog>
