@use "variables";

.lang-button {
  height: variables.$header-buttons-height;
  border-radius: variables.$mat-dialog-radius;
  background-color: variables.$white;
  border-radius: 100%;
  padding: 0;
  line-height: 1;
  padding: 0 !important;

  .flag {
    width: 20px;
    height: 20px;
  }
}
