@import 'variables';
@import 'utilities/utilities';
@import 'text';
@import "~bootstrap/scss/functions";

:host {
  width: 100%;
  display: block;
}

.external-border {
  height: 1px;
  background-color: $separator;
  margin: 0 15px;
}

.enabled {
  opacity: 1;
  @extend .cursor-pointer;

  &:hover {
    background-color: theme-color(translucid-hover) !important;
  }
}

button {
  width: 100%;
  color: $white;
  background-color: transparent !important;
  border: 0;
  text-align: left;
  height: 55px;
  font-size: $font-size-sm;
  display: flex;
  align-items: center;
  opacity: 0.35;

  .separator {
    margin: 0 10px;
  }

  mat-icon {
    display: inline-block;
    margin-left: 25px;
    opacity: 0.75;
  }
}
