<app-dialog [headline]="'apps.vpn-socks-client-settings.password-dialog.title' | translate" [dialog]="dialogRef">
  <form [formGroup]="form">
    <div class="info">{{ 'apps.vpn-socks-client-settings.password-dialog.info' | translate }}</div>
    <mat-form-field>
      <input
        #firstInput
        [placeholder]="'apps.vpn-socks-client-settings.password-dialog.password' | translate"
        type="password"
        id="password"
        formControlName="password"
        maxlength="100"
        matInput
      >
    </mat-form-field>
  </form>

  <app-button class="float-right" color="primary" type="mat-raised-button" (action)="finish()">
    {{ 'apps.vpn-socks-client-settings.password-dialog.continue-button' | translate }}
  </app-button>
</app-dialog>
