// General utilities for the app.

.cursor-pointer {
  cursor: pointer;
}

.reactivate-mouse {
  touch-action: initial !important;
  user-select: initial !important;
  -webkit-user-drag: auto !important;
  -webkit-tap-highlight-color: initial !important;
}

.mouse-disabled {
  pointer-events: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.mt-4\.5 {
  margin-top: 2rem !important;
}

.ml-3\.5 {
  margin-left: 1.25rem !important;
}

.mr-3\.5 {
  margin-right: 1.25rem !important;
}

.highlight-internal-icon {
  @extend .cursor-pointer;

  mat-icon {
    opacity: 0.5;
  }

  &:hover {
    mat-icon {
      opacity: 0.8;
    }
  }
}

.transparent-button {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.subtle-transparent-button {
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}
