<div class="node-actions">
  <div class="button-group">
    <app-button (action)="routing()" icon="shuffle">{{ 'actions.menu.routing' | translate }}</app-button>
    <app-button (action)="applications()" icon="apps">{{ 'actions.menu.apps' | translate }}</app-button>
  </div>

  <div class="button-group">
    <app-button (action)="terminal()" icon="laptop">{{ 'actions.menu.terminal' | translate }}</app-button>
    <app-button (action)="configuration()" icon="settings">{{ 'actions.menu.config' | translate }}</app-button>
    <app-button #updateButton (action)="update()" icon="get_app">{{ 'actions.menu.update' | translate }}</app-button>
    <app-button (action)="reboot()" icon="rotate_right">{{ 'actions.menu.reboot' | translate }}</app-button>
  </div>
</div>

<div class="manager-actions">
  <app-button (action)="back()" icon="chevron_left">{{ 'actions.menu.nodes' | translate }}</app-button>
</div>
