<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skywire.skycoin.vpn" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/general_app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
    >

        <receiver
            android:directBootAware="true"
            android:name=".Receiver"
            android:enabled="true">
            <intent-filter android:priority="2000000000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".vpn.SkywireVPNService"
            android:description="@string/general_service_description"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.index.IndexActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:label="@string/general_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.apps.AppsActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/tmp_select_apps_title" >
        </activity>

    </application>

</manifest>
