@use "sass:color";
@use "sass:map";
@use 'variables';
@use "bootstrap_overrides";
@use "bootstrap/scss/functions";

.main-container {
  text-align: right;

  $elements-padding: 10px;

  .responsive-height {
    padding: $elements-padding 0;
    width: 0px;
  }

  a {
    padding: $elements-padding;
    border-right: variables.$separator solid 1px;
    border-left: variables.$separator solid 1px;
    min-width: 40px;
    text-align: center;
    color: color.scale(variables.$white, $alpha: -50%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: map.get(variables.$theme-colors,translucid-hover);
    }

    mat-icon {
      position: relative;
      top: 2px;
    }

    .label {
      font-size: variables.$font-size-mini;
    }
  }

  .selected {
    color: variables.$white;
    background: color.scale(map.get(variables.$theme-colors,translucid-hover), $alpha: 20%);
    padding: $elements-padding ($elements-padding * 2);
    cursor: pointer;

    &:hover {
      background: color.scale(map.get(variables.$theme-colors,translucid-hover), $alpha: 50%);
    }
  }

  .total-pages {
    font-size: variables.$font-size-mini-plus;
    margin-top: -3px;
    margin-right: 4px;
  }
}
