@import 'variables';
@import "bootstrap_overrides";

.main-container {
  text-align: right;

  .paginator {
    display: inline-block;

    .internal-container {
      display: flex;
      margin: -20px;

      .elements-padding {
        padding: 10px;
      }

      .responsive-height {
        @extend .elements-padding;
        width: 0px;
        padding-left: 0;
        padding-right: 0;
      }

      a {
        @extend .elements-padding;
        border-right: rgba(0, 0, 0, 0.12) solid 1px;
        min-width: 40px;
        text-align: center;
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: rgba(0, 0, 0, 0.12);
        }

        &:first-of-type {
          border-radius: 10px 0px 0px 10px;
        }

        &:last-of-type {
          border-right: none;
          border-radius: 0px 10px 10px 0px;
        }

        mat-icon {
          position: relative;
          top: 2px;
        }

        .label {
          font-size: 12px;
        }
      }

      .selected {
        color: rgba(0, 0, 0, 0.75);
        background: rgba(0, 0, 0, 0.25);

        &:hover {
          background: rgba(0, 0, 0, 0.25) !important;
        }
      }
    }
  }
}
