@import "variables";

.mat-dialog-content {
  font-size: $font-size-sm;
}

.app-log-message {
  margin-top: 15px;
  word-break: break-word;
}

.transparent {
  opacity: 0.5;
}

.filter-link {
  font-size: $font-size-sm;
  text-align: center;
  padding: 10px 0;
  color: $blue;
  border-bottom: $separator solid 1px;
  cursor: pointer;
}
