<app-dialog [headline]="'apps.log.title' | translate">
  <mat-dialog-content #content>
    <div *ngFor="let message of logMessages" class="app-log-message">
      <span class="app-log-timestamp">
        {{ message.time }}
      </span>
      {{ message.msg }}
    </div>
    <div class="app-log-empty mt-3" *ngIf="!loading && (!logMessages || logMessages.length === 0)">
      {{ 'apps.log.empty' | translate }}
    </div>
    <app-loading-indicator [showWhite]="false" *ngIf="loading"></app-loading-indicator>
  </mat-dialog-content>
</app-dialog>
