@import "variables";

.mat-dialog-content {
  font-size: 14px;
}

.app-log-message {
  margin-top: 15px;
  word-break: break-word;
}

.transparent {
  opacity: 0.5;
}

.filter-link {
  font-size: 13px;
  text-align: center;
  margin: 0 (-$mat-dialog-padding);
  padding: 10px;
  color: $blue;
  border-bottom: #e6e6e6 solid 1px;
  cursor: pointer;
}
