<div *ngIf="node" class="node-right font-smaller d-flex flex-column h-100 mt-4.5">
  <div class="d-flex flex-column justify-content-between">
    <div class="section">
      <span class="section-title">{{ 'node.details.node-info.title' | translate }}</span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.label' | translate }}</span>
        {{ node.label }}
        <mat-icon [inline]="true" (click)="showEditLabelDialog()" class="edit-label-icon">edit</mat-icon>
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.public-key' | translate }}</span>&nbsp;
        <app-copy-to-clipboard-text text="{{ node.local_pk }}"></app-copy-to-clipboard-text>
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.ip' | translate }}</span>&nbsp;
        <app-copy-to-clipboard-text text="{{ node.ip }}"></app-copy-to-clipboard-text>
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.port' | translate }}</span>&nbsp;
        <app-copy-to-clipboard-text text="{{ node.port }}"></app-copy-to-clipboard-text>
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.node-version' | translate }}</span>
        {{ node.node_version }}
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.app-protocol-version' | translate }}</span>
        {{ node.app_protocol_version }}
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-info.time.title' | translate }}</span>
        {{ ('node.details.node-info.time.' + onlineTimeTextElements[0]) | translate:{time: onlineTimeTextElements[1]} }}
        
        <mat-icon
          *ngIf="onlineTimeTextElements[2]"
          [inline]="true"
          [matTooltip]="'node.details.node-info.time.minutes' | translate:{time: onlineTimeTextElements[2]}"
          >
          info
        </mat-icon>
      </span>
    </div>
    <hr>
    <div class="section">
      <span class="section-title">{{ 'node.details.node-health.title' | translate }}</span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-health.status' | translate }}</span>
        <i *ngIf="node.health.status && node.health.status === 200" class="dot-green"></i>
        <i *ngIf="!node.health.status || node.health.status !== 200" class="dot-red"></i>
        {{ node.health.status ? node.health.status : ('node.details.node-health.element-offline' | translate) }}
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-health.transport-discovery' | translate }}</span>
        <i *ngIf="node.health.transport_discovery && node.health.transport_discovery === 200" class="dot-green"></i>
        <i *ngIf="!node.health.transport_discovery || node.health.transport_discovery !== 200" class="dot-red"></i>
        {{ node.health.transport_discovery ? node.health.transport_discovery : ('node.details.node-health.element-offline' | translate) }}
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-health.route-finder' | translate }}</span>
        <i *ngIf="node.health.route_finder && node.health.route_finder === 200" class="dot-green"></i>
        <i *ngIf="!node.health.route_finder || node.health.route_finder !== 200" class="dot-red"></i>
        {{ node.health.route_finder ? node.health.route_finder : ('node.details.node-health.element-offline' | translate) }}
      </span>
      <span class="font-smaller info-line">
        <span class="title">{{ 'node.details.node-health.setup-node' | translate }}</span>
        <i *ngIf="node.health.setup_node && node.health.setup_node === 200" class="dot-green"></i>
        <i *ngIf="!node.health.setup_node || node.health.setup_node !== 200" class="dot-red"></i>
        {{ node.health.setup_node ? node.health.setup_node : ('node.details.node-health.element-offline' | translate) }}
      </span>
    </div>
    <hr>
  </div>
  <div class="section">
    <span class="section-title">{{ 'node.details.node-traffic-data' | translate }}</span>
    <app-charts
      class="d-flex flex-column justify-content-end"
      [transports]="node.transports"
    ></app-charts>
  </div>
</div>
