@import 'variables';

.section-title {
  font-size: $font-size-base;
  font-weight: bold;
  text-transform: uppercase;
}

.info-line {
  word-break: break-all;
  margin-top: 7px;

  mat-icon {
    position: relative;
    top: 2px;
    user-select: none;
  }

  i {
    margin-left: 7px;
  }

  .title {
    opacity: 0.75;
  }
}

.separator {
  width: 100%;
  height: 0px;
  margin: 1rem 0;
  border-top: 1px solid $separator;
}

.router-button-container {
  margin-top: 10px;
  margin-left: -4px;
}
