@import 'variables';

.node-right
{
  div
  {
    display: flex;
    justify-content: space-between;
  }

  .section
  {
    flex-direction: column;

    .section-title
    {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}

.info-line {
  word-break: break-all;
  margin-top: 7px;

  mat-icon {
    position: relative;
    top: 2px;
  }

  i {
    margin-left: 7px;
  }

  .title {
    opacity: 0.75;
  }
}

.edit-label-icon {
  cursor: pointer;
}
