<app-dialog [headline]="(state !== updatingStates.Error ? 'update.title' : 'update.error-title') | translate" [dialog]="dialogRef">
  <!-- Main black text area. -->
  <div class="text-container">
    @if (state === updatingStates.InitialProcessing) {
      <mat-spinner class="loading-indicator" [diameter]="12"></mat-spinner>
      {{ 'update.processing' | translate }}
    }
    @if (state === updatingStates.Error) {
      {{ errorText | translate }}
    }
    @if (state === updatingStates.NoUpdatesFound) {
      {{ (data.length === 1 ? 'update.no-update' : 'update.no-updates') | translate }}
    }
  </div>

  <!-- Current version, shown if no update was found and only one node was going to be updated. -->
  @if (state === updatingStates.NoUpdatesFound && data.length === 1) {
    <div class="list-container">
      <div class="list-element">
        <div class="left-part">-</div><div class="right-part">{{ currentNodeVersion ? currentNodeVersion : ('common.unknown' | translate) }}</div>
      </div>
    </div>
  }

  <!-- List with the nodes currently being updated, shown while asking for confirmation before installing the updates. -->
  @if (state === updatingStates.Asking && indexesAlreadyBeingUpdated.length > 0) {
    <div class="text-container">
      {{ 'update.already-updating' | translate }}
    </div>
    <div class="list-container">
      @for (index of indexesAlreadyBeingUpdated; track index) {
        <div class="list-element">
          <div class="left-part">-</div><div class="right-part">{{ nodesToUpdate[index].label }}</div>
        </div>
      }
    </div>
  }
  <!-- Text asking for confirmation before installing the updates. -->
  @if (state === updatingStates.Asking) {
    <div class="text-container">
      {{ updateAvailableText | translate:{number: nodesForUpdatesFound} }}
    </div>
    <div class="list-container">
      @for (update of updatesFound; track update) {
        <div class="list-element">
          <div class="left-part">-</div>
          <div class="right-part">
            {{ 'update.version-change' | translate:update }}
            <a [href]="update.updateLink" target="_blank" rel="noreferrer nofollow noopener">{{ update.updateLink }}</a>
            @if (customChannel) {
              <span class="channel">{{ 'update.selected-channel' | translate }} {{ customChannel }}</span>
            }
          </div>
        </div>
      }
    </div>
    <div class="text-container">
      {{ 'update.update-instructions' | translate }}
    </div>
  }
  <!-- List with the nodes with errors during the initial check, shown while asking for confirmation and when there are no updates. -->
  @if ((state === updatingStates.Asking || state === updatingStates.NoUpdatesFound) && nodesWithError.length > 0) {
    <div style="height: 10px;"></div>
    <div class="text-container">
      {{ 'update.with-error' | translate }}
    </div>
    <div class="list-container">
      @for (node of nodesWithError; track node) {
        <div class="list-element">
          <div class="left-part">-</div>
          <div class="right-part">
            {{ node.nodeLabel }}: <span class="red-text">{{ node.errorMsg | translate }}</span>
          </div>
        </div>
      }
    </div>
  }

  <!-- Content shown while updating. -->
  @if (state === updatingStates.Updating) {
    <!-- Indications. -->
    <div class="text-container">
      {{ 'update.updating' | translate }}
    </div>
    <div>
      @for (node of nodesToUpdate; track node) {
        @if (node.update) {
          <!-- Raw progress text shown if it was not possible to parse it for showing the progrss bar. -->
          @if (!node.updateProgressInfo.errorMsg && !node.updateProgressInfo.dataParsed) {
            <div class="list-container">
              <div class="list-element">
                <div class="left-part">-</div>
                <div class="right-part">
                  @if (!node.updateProgressInfo.closed) {
                    <mat-spinner class="loading-indicator" [diameter]="12"></mat-spinner>
                    } {{ node.label }}
                    : <span class="details">{{ node.updateProgressInfo.rawMsg }}</span>
                    @if (node.updateProgressInfo.closed) {
                      <span class="closed-indication">&nbsp;({{ 'update.finished' | translate }})</span>
                    }
                  </div>
                </div>
              </div>
            }
            <!-- Progress bar. -->
            @if (!node.updateProgressInfo.errorMsg && node.updateProgressInfo.dataParsed) {
              <div class="progress-container">
                <!-- Node label. -->
                <div class="name">
                  @if (!node.updateProgressInfo.closed) {
                    <mat-spinner class="loading-indicator" [diameter]="12"></mat-spinner>
                  }
                  {{ node.label }}
                </div>
                <!-- Bar. -->
                <mat-progress-bar
                  color="accent"
                  [mode]="'determinate'"
                  [value]="node.updateProgressInfo.progress">
                </mat-progress-bar>
                <!-- Details. -->
                <div class="details">
                  {{ 'update.downloaded-file-name-prefix' | translate }} {{ node.updateProgressInfo.fileName }}
                  ({{ node.updateProgressInfo.progress }}%)
                  <br/>
                  {{ 'update.speed-prefix' | translate }} {{ node.updateProgressInfo.speed }}
                  <br/>
                  {{ 'update.time-downloading-prefix' | translate }} {{ node.updateProgressInfo.elapsedTime }}
                  /
                  {{ 'update.time-left-prefix' | translate }} {{ node.updateProgressInfo.remainingTime }}
                  @if (node.updateProgressInfo.closed) {
                    <br/>
                    <span class="closed-indication">{{ 'update.finished' | translate }}</span>
                  }
                </div>
              </div>
            }
            <!-- Msg shown if there was an error during the operation. -->
            @if (node.updateProgressInfo.errorMsg) {
              <div class="list-container">
                <div class="list-element">
                  <div class="left-part">-</div>
                  <div class="right-part">
                    {{ node.label }}: <span class="red-text">{{ node.updateProgressInfo.errorMsg | translate }}</span>
                  </div>
                </div>
              </div>
            }
          }
        }
      </div>
    }

    <!-- Buttons. -->
    <div class="buttons">
      @if (cancelButtonText) {
        <app-button
          #cancelButton
          type="mat-raised-button"
          color="accent"
          (action)="closeModal()"
          >
          {{ cancelButtonText | translate }}
        </app-button>
      }
      @if (confirmButtonText) {
        <app-button
          #confirmButton
          type="mat-raised-button"
          color="primary"
          (action)="state === updatingStates.Asking ? update() : closeModal()"
          >
          {{ confirmButtonText | translate }}
        </app-button>
      }
    </div>
  </app-dialog>
