on: [pull_request]
name: Test
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
      - uses: actions/checkout@v4
      - name: Install Requirements
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.60.3
          make dep
          chmod +x ./ci_scripts/create-ip-aliases.sh
          ./ci_scripts/create-ip-aliases.sh
        shell: bash
      - name: Checking Format and Testing
        run: make check
      - name: Build
        run: make build

  darwin:
    runs-on: macos-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
      - uses: actions/checkout@v4
      - name: Install Requirements
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.60.3
          make dep
          chmod +x ./ci_scripts/create-ip-aliases.sh
          ./ci_scripts/create-ip-aliases.sh
        shell: bash
      - name: Checking Format and Testing
        run: make check
      - name: Build
        run: make build

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
      - uses: actions/checkout@v4
      - name: Install Requirements
        run: |
          choco install make
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.60.3
          make dep
      - name: Testing
        run:  |
          set GO111MODULE=on
          make test-windows
      - name: Build
        run: make build-windows
